
         <ul class="nav nav-tabs" >
            <li class=""><a href="#/" data-toggle="tab">Profile</a></li>
            <li class="active" ng-hide="auth_user_type=='4' || auth_user_type=='3' "><a href="#/basic-settings" data-toggle="tab">Basic Settings</a></li>
			<li class=""><a href="#/change-password" data-toggle="tab">Change Password</a></li>
			
         </ul>
         <div class="tab-content  tab-content-data">
		 
		    <div id="/" class="tab-pane fade in active" >
                                          <div class="panel  ">
                                             <div class="panel-body user-info">
											 <br> 
                                                <div class="row" ng-repeat="data in settingsData.data" ng-hide="data.key_title == 'business_logo' ||  data.key_title =='terms_conditions' ||  data.key_title =='privacy_policy'">
                                                   <div class="col-sm-7" >
                                                      <md-input-container  class="md-block text-left"  >
                                                         <label>{{data.key_display_title}}</label>
                                                         <input type="text" id="{{data.key_display_title}}" name="{{data.key_display_title}}"  ng-model="data.key_value" value="{{data.key_value}} " />
                                                      </md-input-container>
                                                     </div>
												   <div class="col-lg-5 submit text-right">
                                                   <button   ng-click="updateSettings(data.id,data.key_value)" class="btn md-raised bg-color md-submit md-button md-ink-ripple">Update </button>
                                                </div>
                                                
                                             </div>
											 
											 
                                          </div>
            
         </div>
		 
      </div>
   </div> 
    <!-- Include external CSS. -->
    <link rel="stylesheet" href="http://bootstrap-wysiwyg.github.io/bootstrap3-wysiwyg/components/components-font-awesome/css/font-awesome.min.css"> 
	
    <script type="text/javascript" src="http://bootstrap-wysiwyg.github.io/bootstrap3-wysiwyg/components/wysihtml5x/dist/wysihtml5x-toolbar.min.js"></script>
    <script type="text/javascript" src="http://bootstrap-wysiwyg.github.io/bootstrap3-wysiwyg/components/handlebars/handlebars.runtime.min.js"></script>
 
    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="http://bootstrap-wysiwyg.github.io/bootstrap3-wysiwyg/dist/bootstrap3-wysihtml5.min.js"></script>
   
   <script type="text/javascript">
		  $('.textarea').wysihtml5({
    toolbar: {
      fa: true
    }
  });
  </script>