  

<section id="banner" style="background: url('web-food/assets/images/food-back-small.jpg')no-repeat center;">
   <div class="container">
      <div class="row" >
        <div class="col-sm-12"   >
                           <md-list layout-padding class="profile-data" >
							<md-list-item class="md-3-line"     >
								<img  ng-src="images/stores/{{store_photo}}" class="md-avatar" ng-show="store_photo" style="width: 70px;height:70px">
								<img  ng-src="web-food/assets/images/placeholders/store-placeholder.png" class="md-avatar" ng-show="!store_photo"  style="width: 90px;">

								<div class="md-list-item-text">
								  <h2 style="margin-bottom:4px;">{{store_title}} <span style="font-size:20px;">({{store_status}})</span></h2>
								  <p style="font-size:18px;color:#fff">{{store_address}}</p>
								  <div star-rating rating-value="store_rating" max="5" ></div>
								  <h4>
									 
								  </h4>
								</div>
							</md-list-item>
						  </md-list>    
                      </div>
      </div>
   </div>
</section>



  <section id="view-product" class="cart-items" >
   <div class="container">
   <div class="row"   >
         <div class="col-sm-3 col-md-3 col-lg-2" >
            <div class="form-group"  >
               <div class="input-group">
                  <input type="text" class="form-control" ng-model="search" placeholder="Search by item" >
                  <span class="input-group-addon"  ><i class="fa fa-search"></i></span>
               </div>
            </div>
            <div class="panel">
                <div class="panel-body">
               <nav role="navigation" class="sidebar-body " >
                  <h4 class="sidebar-title">Categories</h4>
                  <ul class=" ">
                     <li ng-repeat="categories in main.addOrder" class="active " >
                        <a  class="main" href="#/items/#{{categories.category_title}}"> <span>{{categories.category_title}}</span> </a>
                        <ul class="acc-menu">
                           <li ng-repeat="subCategories in categories.sub_categories ">
                              <a  class="sub" href="#/items#{{subCategories.category_title}}"><span>{{subCategories.category_title}}</span></a>
                              <ul class="">
                                 <li ng-repeat="subCategories in subCategories.sub_categories " >
                                    <a class="subsub" href="#/items#{{subCategories.category_title}}"><span>{{subCategories.category_title}}</span></a>
                                    <ul class="acc-menu">
                                       <li ng-repeat="subCategories in subCategories.sub"><a href="#/items?{{store_id}}/#{{subCategories.category_title}}"><span>{{subCategories.category_title}}</span></a></li>
                                    </ul>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </nav>
            </div>
            </div>
         </div>
         <div class="col-lg-7 col-md-6 col-sm-9">
            
            <!-- Tab panes -->
          
			 <md-tabs    > 
			 
			   <div class="tab-content" style="padding-top:0px;background:transparent;">
			
			<!------------------------UNASSIGNED TASK SECTION STARTS HERE--------------------------->
               <md-tab id="tab2"  >
                  <md-tab-label>Menu</md-tab-label>
                  <md-tab-body >	
  
						  <!--- <div id="item-loading" class="loading" style="display: ;position:relative;">
                              <img src="admin/assets/images/89.svg" class="img-responsive center-block" style="width:auto;">				 
                              <p >Loading...</p>
                           </div>-->
                  <div class=" product-view" id="accordion">
				  
						   
				   <div class="panel container-fluid menuData" ng-show="!main.addOrder[0].items">
                                          <div class="row" >
                                            <div class="col-sm-12 text-center" id="menuData"> 
                                          	    <br>
                                             	<img class="img-responsive center-block" src="web-food/assets/images/placeholders/food-placeholder.png" style="width:auto;">
                                             	<p>No Item found.</p>
                                            </div>
                                          </div>
                    </div>
										
										
                     <div ng-repeat="categories in main.addOrder | filter:search" id="/items/#{{categories.category_title}}" class="tab-pane fade in active" >
					    
                        <div class="panel-group " ng-show="categories.items != '' " id="menuData">
                           <div class="panel container-fluid">
                              <div class="panel-body">
                                 <h4 class="panel-title text-left">
                                    {{categories.category_title}} <span>({{categories.items.length}} items)</span> 
									<a data-toggle="collapse" data-parent="#accordion" href="#/items/#1{{categories.category_title}}"  aria-expanded="true" aria-controls="/items/#1{{categories.category_title}}">  <i class="fa fa-angle-down"></i></a>
                                 </h4>
                            </div> 
                              <div id="/items/#1{{categories.category_title}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="/items/#{{categories.category_title}}">
                                 <div class="row view-row" ng-repeat="item in categories.items | filter:search">
                                    <div class="col-lg-2 col-sm-2 col-xs-2">
                                       <div class="img-holder">
                                          <figure>
                                              <a href="#/items" ng-click="itemInfo(item.item_id);"><img ng-show="item.item_photo" src="images/items/{{item.item_photo}}" class="img-responsive center-block;" style="max-height:70px;">  </a>
                                             <img ng-show="!item.item_photo"src="admin/assets/images/img-placeholder.png" class="img-responsive center-block;">  
                                          </figure>
                                       </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-6 col-xs-6">
                                       <div class="text-holder">
                                          <div class="post-title">
                                             <h5>
                                                <a href="#/items" ng-click="itemInfo(item.item_id);">{{item.item_title}}</a>
                                             </h5>
                                             <p> </p>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-4 col-xs-4 list-option" style="padding-top:15px;">
                                       <div class="row">
                                          <div class="col-md-7 col-sm-6 col-xs-6">
                                             <span> {{item.currency_symbol}} {{item.item_price}} </span>
                                          </div>
                                          <div class="col-md-5 col-sm-6 col-xs-6"  style="margin-top:-5px;">
										    <md-button style="min-height: 30px;font-size:13px;width:30px;min-width:20px;line-height:20px;border-radius:50px;margin:0px;" class="btn md-raised bg-color  md-button md-ink-ripple"  ng-disabled="item.item_available_status == 0" ng-click="main.addToCart(item)" ng-style="color"><i class="fa fa-plus " style="padding:0px;"></i></md-button>
										 
								 
                                            <!-- <a href="javascript:void(0)" ng-disabled="item.item_available_status == 0" ng-click="main.addToCart(item)" ng-style="color">
                                             <i class="fa fa-plus ">
                                             </i>
                                             </a>-->
                                          </div>
                                       </div>
									   <div class="row">
									     <div class="col-sm-12" style="margin-top:5px;">
                                             <span ng-show="item.item_available_status == 0" style="color:red;font-size:12px;">  Available from {{item.from_time}} to {{item.to_time}} </span>
                                          </div>
									   </div>
                                    </div>
                                 </div>
                                 <!--<table class="table items-detail">
                                    <tbody>
                                       <tr ng-repeat="item in categories.items | filter:search" class="view-row" >
                                          <td class="img-holder ">
                                    <figure style="height:60px;width:60px;">
                                    <img src="{{URL::asset('/admin/assets/images/img-placeholder.png')}}" ng-show="item.item_photo == ''" class="img-responsive">
                                    <img src="{{URL::asset('/products')}}/{{item.item_photo}}" ng-show="item.item_photo != ''" class="img-responsive">
                                    </figure>
                                    </td>
                                          <td class="text-holder"> <h5>{{item.item_title}} </h5></td>
                                          <td class="item-price list-option"><span ng-show='item.item_price > 0'>{{item.currency_symbol}} {{item.item_price}} </span>
                                          <span ng-show='item.item_price == 0'>Price on Selection</span>															</td>
                                          <td class="item-createdTime  "><a ng-style="color" class="btn-addCart" ng-click="main.addToCart(item)"><i class="fa fa-plus"></i></a></td>
                                       </tr>
                                    </tbody>
                                    </table>-->
                              </div> 
                           </div>
                        </div>
                        <div ng-repeat="subCategories in categories.sub_categories" id ="{{subCategories.category_title}}" class="tab-pane fade in active ">
                           <div class="panel-group" ng-show="subCategories.items != ''" >
                              <div class="panel ">
                                 <div class="panel-heading">
                                    <h4 class="panel-title text-left">
                                       {{subCategories.category_title}} <span>({{subCategories.items.length}} items)</span> <a data-toggle="collapse" data-parent="#accordion" href="#2{{subCategories.category_title}}"> <i class="fa fa-angle-down"></i></a>
                                    </h4>
                                 </div>
                                 <div id="2{{subCategories.category_title}}" class="panel-collapse collapse in">
                                    <div class="row view-row" ng-repeat="item in subCategories.items | filter:search">
                                       <div class="col-lg-2 col-sm-2 col-xs-2">
                                          <div class="img-holder">
                                             <figure>
                                                <a href="#/items" ng-click="itemInfo(item.item_id);"> <img ng-show="item.item_photo" src="images/items/{{item.item_photo}}" class="img-responsive center-block;" style="max-height:70px;">  </a>
                                                <img ng-show="!item.item_photo"src="admin/assets/images/img-placeholder.png" class="img-responsive center-block;">  
                                             </figure>
                                          </div>
                                       </div>
                                       <div class="col-lg-6 col-sm-6 col-xs-6">
                                          <div class="text-holder">
                                             <div class="post-title">
                                                <h5>
                                                   <a href="#/items" ng-click="itemInfo(item.item_id);"> {{item.item_title}}</a>
                                                </h5>
                                                <p> </p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-sm-4 col-xs-4 list-option">
                                          <div class="row">
                                             <div class="col-md-7 col-sm-6 col-xs-6">
                                                <span>{{item.currency_symbol}} {{item.item_price}} </span>
                                             </div>
                                             <div class="col-md-5 col-sm-6 col-xs-6">
                                                <a href="javascript:void(0)" ng-click="main.addToCart(item)" ng-style="color" >
                                                <i class="fa fa-plus ">
                                                </i>
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div ng-repeat="subCategories in subCategories.sub_categories" id ="{{subCategories.category_title}}" class="tab-pane fade in active panel-group">
                              <div ng-show="subCategories.items != ''">
                                 <div class="panel ">
                                    <div class="panel-heading">
                                       <h4 class="panel-title text-left">
                                          {{subCategories.category_title}} <span>({{subCategories.items.length}} items)</span><a data-toggle="collapse" data-parent="#accordion" href="#3{{subCategories.category_title}}"> <i class="fa fa-angle-down"></i></a>
                                       </h4>
                                    </div>
                                    <div id="3{{subCategories.category_title}}" class="panel-collapse collapse in">
                                       <div class="row view-row" ng-repeat="item in subCategories.items | filter:search">
                                          <div class="col-lg-2 col-sm-2 col-xs-2">
                                             <div class="img-holder">
                                                <figure>
                                                    <a href="#/items" ng-click="itemInfo(item.item_id);"><img ng-show="item.item_photo" src="images/items/{{item.item_photo}}" class="img-responsive center-block;" style="max-height:70px;">  </a>
                                                   <img ng-show="!item.item_photo"src="admin/assets/images/img-placeholder.png" class="img-responsive center-block;">  
                                                </figure>
                                             </div>
                                          </div>
                                          <div class="col-lg-6 col-sm-6 col-xs-6">
                                             <div class="text-holder">
                                                <div class="post-title">
                                                   <h5>
                                                       <a href="#/items" ng-click="itemInfo(item.item_id);">{{item.item_title}}</a>
                                                   </h5>
                                                   <p></p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-lg-4 col-sm-4 col-xs-4 list-option">
                                             <div class="row">
                                                <div class="col-md-7 col-sm-6 col-xs-6">
                                                   <span> {{item.currency_symbol}} {{item.item_price}} </span>
                                                </div>
                                                <div class="col-md-5 col-sm-6 col-xs-6">
                                                   <a href="javascript:void(0)" ng-click="main.addToCart(item)" ng-style="color" >
                                                   <i class="fa fa-plus ">
                                                   </i>
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div ng-repeat="subCategories in subCategories.sub" id ="{{subCategories.category_title}}" class="tab-pane fade in active panel-group">
                                 <div ng-show="subCategories.items != ''">
                                    <div class="panel ">
                                       <div class="panel-heading">
                                          <h4 class="panel-title text-left">
                                             {{subCategories.category_title}} <span>({{subCategories.items.length}} items)</span><a data-toggle="collapse"  data-parent="#accordion" href="#4{{subCategories.category_title}}"> <i class="fa fa-angle-down"></i></a></span> 
                                          </h4>
                                       </div>
                                       <div id="4{{subCategories.category_title}}" class="panel-collapse collapse in">
                                          <table  class="table items-detail">
                                             <tbody>
                                                <tr ng-repeat="item in subCategories.items | filter:search ">
                                                   <td class="item-image ">
                                                      <img src="admin/assets/images/item-placeholder.png" ng-show="item.item_photo == null" class="img-responsive center-block;" style="max-height:70px;">
                                                      <img src="/products/{{item.item_photo}}" ng-show="item.item_photo != null" class="img-responsive center-block;">
                                                   </td>
                                                   <td class="item-title"> {{item.item_title}}  </td>
                                                   <td class="item-price"><span ng-show='item.item_price > 0'>{{item.currency_symbol}} {{item.item_price}} </span>
                                                      <span ng-show='item.item_price == 0'>Price on Selection</span>  
                                                   </td>
                                                   <td class="item-createdTime text-right"><button class="btn-addCart" ng-click="main.addToCart(item)"><i class="fa fa-plus"></i></button></td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
				   </md-tab-body>
               </md-tab>
			   
                
			   
			    <!----------------------------------------------MENU TAB SECTION ENDS HERE--------------------------------------------->
                <md-tab id="tab1" ng-click="main.offers();">
                  <md-tab-label>offers</md-tab-label>
                  <md-tab-body>
				  <div class="container-fluid">
				  <div class="panel">
				   <div class="panel-body">
			   <div class="row">
                     <div class=" col-sm-12">
                  <h3>Offers</h3>
				  </div>
                     </div>
					   <div id="offer-loading" class="loading" style="display:none ;position:relative;">
                              <img src="web-food/assets/images/89.svg" class="img-responsive center-block" style="width:auto;">				 
                              <p >Loading...</p>
                           </div>
						   
					  
                                          <div class="row offerData" ng-show="!main.offersdata.data">
                                            <div class="col-sm-12 text-center"> 
                                          	    <br>
                                             	<img class="img-responsive center-block" src="web-food/assets/images/placeholders/offers-placeholder.png" style="width:auto;">
                                             	<p>No Offer found.</p>
                                            </div>
                                          </div>
                   
					
                  <div class="row offerData" ng-repeat="data in main.offersdata.data" style="border-top:1px solid #f5f5f5;">
                     <div class="col-lg-3 col-sm-3"> 
					    <img src="images/coupons/{{data.coupon_image}}" class="img-responsive" ng-show="data.coupon_image">
						<img src="admin/assets/images/img-placeholder.png" class="img-responsive" ng-show="!data.coupon_image">
                     </div>
                     <div class="col-lg-9 col-sm-9">
                        <h4 style="font-family:'Open Sans Semibold',sans-serif;">{{data.coupon_title}} </h4>
						<p style="font-size:14.5px;">{{data.coupon_desc}}</p>
						<p style="font-size:12px;color:#c23635"> {{data.coupon_code}}</p>
						<small style="font-size:12px;color:#ccc">Expires on {{data.expiry}}</small>
                     </div> 
                   </div>					 
                  </div> 
				  </div>
				  </div>
                </md-tab-body>
               </md-tab>
               <!-------------------REVIEW SECTION ENDS HERE---------------------------------------->
			   
			   
               <!----------------------------------------------MENU TAB SECTION ENDS HERE--------------------------------------------->
                  <md-tab id="tab1" ng-click="main.reviews()">
                  <md-tab-label>Reviews</md-tab-label>
                  <md-tab-body>
				  <div class="container-fluid">
				  <div class="panel">
				  <div class="panel-body">
			   <div class="row">
                     <div class="  col-sm-12">
                  <h3> Reviews</h3>
				  </div>
                  </div>
				   <div id="review-loading" class="loading" style="display:none ;position:relative;">
                              <img src="web-food/assets/images/89.svg" class="img-responsive center-block" style="width:auto;">				 
                              <p >Loading...</p>
                           </div>
				    <div class="row reviewData" ng-show="!main.reviewsdata.data">
                                            <div class="col-sm-12 text-center"> 
                                          	    <br>
                                             	<img class="img-responsive center-block" src="web-food/assets/images/placeholders/review-placeholder.png" style="width:auto;">
                                             	<p>No Reviews found.</p>
                                            </div>
                                          </div>
										  
                  <div class="row reviewData" ng-repeat="data in main.reviewsdata.data"  ng-class="data.user_details[0].customer_type" style="border-top:1px solid #f5f5f5;">
				  <div class="col-lg-9 col-sm-9">  
                           <h4 style="font-family:'Open Sans Semibold',sans-serif;font-size:16px;">{{data.user_details[0].first_name}} {{data.user_details[0].lst_name}}</h4> 
						   <p style="font-size:14.5px;">{{data.review}}</p>
                     </div>
                     <div class="col-lg-3 col-sm-3"> 
						<br>
                        <div class="text-right">
                          <span class="fa fa-star"></span>  <span>{{data.rating}}</span>
                        </div>
                     </div>
					  <div class="col-sm-12 text-right" style="padding-bottom:5px;"> 
                           <small  style="font-size:12.5px;color:#ccc;">{{data.created_at_formatted}}</small> 
                     </div>
                  </div>
				  </div>
				  </div>
				  </div>
                </md-tab-body>
               </md-tab>
               <!-------------------REVIEW SECTION ENDS HERE---------------------------------------->
               <!-------------------INFO SECTION STARTS HERE---------------------------------------->
              <md-tab id="info" ng-click="main.info()">
                  <md-tab-label>Info</md-tab-label>
                  <md-tab-body>
			   <div class="container-fluid">
			   <div class="panel">
			   <div class="panel-body" ng-repeat="data in main.infodata" >
			   <div class="row">
                     <div class="  col-sm-12">
                  <h3>{{data.store_title}}</h3>
				  </div>
                  </div>
				   <div id="info-loading" class="loading" style="display:none ;position:relative;">
                              <img src="web-food/assets/images/89.svg" class="img-responsive center-block" style="width:auto;">				 
                              <p >Loading...</p>
                           </div>
                  <div class="row">
                     <div class="col-lg-12 col-sm-12">
                            <div id="map_canvas"></div>
                        <div class="table-responsive">
                           <table class="table table-condensed" style="font-size:15px;">
                              <tr ng-repeat="meta in data.meta">
                                 <td>{{meta.store_meta_type_title}}</td>
                                 <td>{{meta.value}}</td>
                              </tr> 
                              <tr>
                                 <td>Rating</td>
                                 <td><span class="fa fa-star checked"  ></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                 </td>
                              </tr> 
                           </table>
                        </div>
                     </div>
                  </div>
				  </div>
				  </div>
				  </div>
               </md-tab-body>
               </md-tab>
            </div>
         </div>
         <!---------------------------RIGHT SECTION STARTS HERE------------------------>
          
         <div class="col-sm-12 col-md-3 cart-data" >
            <div ng-controller="cartController as cart" >
               <div class="panel"  >
                  <div class="panel-body order-sort-results">
                     <h5> <i class="fa fa-shopping-cart"></i> <b>Your Order</b></h5>
                     <hr>
                     <p class="text-center" ng-show="cart.cartStorage.items == ''" style="font-size:13px;color:#ccc;">No item in cart</p>
					
                     <div class="row cart_table" ng-repeat="item in cart.cartStorage.items track by $index" style="padding-bottom:7px;" >
					 
                        <div class="col-sm-12">
                           <h4  style="font-size:12px ;margin:3px 0"><b>{{item.item_title}}</b>
                              <span ng-show="item.variants != ''"  ><a href="#/items" data-toggle="tooltip" title="{{variantsSelectedTitleData}} ">&#9432;</a></span> 
                              <span ng-show="item.variants" ng-repeat="variant in item.variants">{{variant.title}} </span> 
                           </h4>
                        </div>
                        <div class="col-sm-6 col-xs-6 text-center">
                           <p  class="cart-action-btn" style="font-size:12px;margin:5px 0;">
                              <button ng-click="cart.decreaseItemAmount(item)" title="Decrement">
                             -
                              </button>
                              <span style="padding:0px 7px;">{{item.order_item_quantity}} </span>
                              <button ng-click="cart.increaseItemAmount(item)" title="Increment">
                              +
                              </button>
                           </p>
                        </div>
                        <div class="col-sm-2 col-xs-3">
                           <p  style="font-size:12px;margin:8px 0;">{{item.currency_symbol}} {{item.single_quantity_item_price}}  </p>
                        </div>
                        <div class="col-sm-2 col-xs-3">
                           <button ng-click="cart.removeFromCart(item)" class="btn-remove"  title="Remove"  style="margin:7px 0;">
                           <i class="fa fa-trash"  ></i>
                           </button>
                        </div>
                     </div>
					 
					 <div class="row promoCode" >
					    <div class="col-sm-12" ng-hide="cart.cartStorage.items == ''">
						  <hr>
                           <h5><b>Apply Promo Code</b></h5>
						   
						    <md-tabs >  
							   <md-tab id="tab12" ng-disabled="main.points == true" >
								  <md-tab-label>COUPON</md-tab-label>
								  <md-tab-body >
								    <div class="form-inline" style="display:inline-flex;width:100%">
									   <div class="form-group" > 
                                                <input type="text" class="form-control" id="coupon_code" value="{{coupon_code}}" style="color:#555;">
                                        </div>
										<md-button class="btn md-raised bg-color md-add md-button md-ink-ripple text-center btn-apply" ng-click="main.applyCoupon();" ng-show="!main.coupon_code_value" >Apply</md-button>
										 <md-button class="btn md-raised bg-color md-add md-button md-ink-ripple text-center btn-cancel" ng-click="main.cancelCoupon();" ng-show="main.coupon_code_value">Cancel</md-button>
									</div>
									 <p style="padding:{{main.messagePadding}};background-color:{{main.messageBg}};border-radius:50px;font-size:11px;margin-bottom:0px">{{main.paymentData.couponMessage}}</p>
                                  </md-tab-body >	
                               </md-tab>
                              <md-tab id="tab13"  ng-disabled="main.pointsDisabled" >
								  <md-tab-label>POINTS</md-tab-label>
								  <md-tab-body >
								     <md-checkbox ng-model="main.points"  ng-change="main.changePonits()" id="points">{{main.points_title}}</md-checkbox>
									  <p style="padding:{{main.messagePadding1}};background-color:{{main.pointMessageBg}};border-radius:50px;font-size:11px;margin-bottom:0px"  >{{main.paymentData.pointsMessage}}</small>
                                  </md-tab-body >	
                               </md-tab>							   
				            </md-tabs>
						</div>
					 </div>
					 
                     <div class="row  " >
                        <div class="col-sm-12">
                           <hr>
                           <h5><b>Payment summary</b></h5>
						    <div id="payment-loading" class="loading" style="display:none ;position:relative;min-height: 150px;">
                              <img src="web-food/assets/images/89.svg" class="img-responsive center-block" style="width:auto;">				 
                              <p >Loading...</p>
                           </div>
						   
                           <p class="text-center" ng-show="cart.cartStorage.items == ''" style="font-size:13px;color:#ccc;">No Payment info</p>
                           <table class="table main-paymentSummary1 main-cart " ng-hide="cart.cartStorage.items == ''">
                              <tbody ng-repeat="data in main.cartStorage.payment.data" >
                                 <tr ng-repeat="values in data.data">
                                    <td class="" style="font-size:14px;text-transform: capitalize">{{values.title.replace('_', ' ')  }} </td>
                                    <td class="text-right" style="font-size:14px"> {{values.currency_symbol}} {{values.value}} </td>
                                 </tr>
                                 <tr style="background:#f5f5f5;">
                                    <td class="" style="font-size:14px;text-transform: capitalize">Total </td>
                                    <td class="text-right" style="font-size:14px">{{data.currency_symbol}} {{data.total}} </td>
                                 </tr>
                              </tbody >
                           </table>
                           <table class="table paymentSummary1  cart" ng-hide="cart.cartStorage.items == ''">
                              <tbody ng-repeat="data in cart.paymentData.data">
                                 <tr  ng-repeat="values in data.data">
                                    <td class="" style="font-size:14px;text-transform: capitalize">{{values.title.replace('_', ' ')  }} </td>
                                    <td class="text-right" style="font-size:14px"> <?php echo env('CURRENCY_SYMBOL');?>{{values.value}} </td>
                                 </tr>
                                 <tr style="background:#f5f5f5;">
                                    <td class="" style="font-size:14px;text-transform: capitalize">Total </td>
                                    <td class="text-right" style="font-size:14px"> <?php echo env('CURRENCY_SYMBOL');?>{{data.total}} </td>
                                 </tr>
                              </tbody >
                           </table>
                        </div>
                     </div>
                     <div class="confirm-button">
                        <button class="btn btn-confirm btn-block"  ng-disabled="cart.cartStorage.items == ''" ng-click="main.proceed('checkout')" style="color:#fff"> Proceed </button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel-body">
            </div>
         </div>
      </div>
	    </div>
</section>

<!-------------------------------Modal For Product Variants Starts Here---------------------------------->
                              <div id="variantsModal" class="modal fade" role="dialog" data-backdrop="false" style="z-index:9999999;">
                                 <div class="modal-dialog variant-modal" style="z-index:9999999; " data-backdrop="false">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Add <b>Item Variants/Choices</b></h4>
                                       </div>
                                       <div class="modal-body">
                                          <div ng-repeat="data in main.variantsdata">
                                             <h4 class="value-title">Choice Of {{data.item_variant_type_title}}  </h4>
                                             <div class="form-group"  ng-show="data.maximum_selection_needed > '1'"  >
                                                <label class="checkbox-inline" ng-repeat="variant in data.item_variant_values" >
                                                <input type="checkbox" id="{{variant.id}}" ng-model="variant.value" value="{{variant.item_variant_value_title}}" ng-click="main.getVariantValue(variant);" >
                                                {{variant.item_variant_value_title}}<span ng-show="{{variant.item_variant_price_difference}}"> (+{{variant.item_variant_price_difference}})</span> <span ng-show="{{variant.item_variant_price}}">({{variant.item_variant_price}})</span>
                                                </label>
                                             </div>
											 
											 
											 <div class="form-group">
                                                <label class="radio-inline" ng-repeat="variant in data.item_variant_values" ng-show="data.maximum_selection_needed =='0' || data.maximum_selection_needed =='1'">  
                                                <input type="radio" name="{{data.item_variant_type_title}}" id="{{variant.id}}" ng-model="selectedVariant" value="{{variant.item_variant_value_title}}" ng-click="main.getVariantValue2(variant);" ng-required="data.minimum_selection_needed >= '1'">
                                                {{variant.item_variant_value_title}}<span ng-show="{{variant.item_variant_price_difference}}"> (+{{variant.item_variant_price_difference}})</span> <span ng-show="{{variant.item_variant_price}}">({{variant.item_variant_price}})</span>
                                                </label>
                                             </div>
											 
                                          </div>
										  <div class="text-right">
                                          <button class="btn md-raised bg-color md-submit md-button md-ink-ripple md-button" ng-click="main.addVariant();"><i class="fa fa-shopping-art"></i> Add to Cart</button>
										  </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-------------------------------Modal For Product Variants Ends Here---------------------------------->
							  
							  
							<!-------------------------------Login Modal Starts Here---------------------------------->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog variant-modal">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body" ng-controller="loginController">
        <div class="form-group">
								   <input type="email" class="form-control" id="user_email" name="email" ng-model="email" placeholder="Email">
								 </div>
								 <div class="form-group">
								   <input type="password" class="form-control" id="user_password" name="password" ng-model="password" placeholder="Password">
								 </div> 
							   
							   <div class="text-center">
							   <md-button type="button" ng-click="login()" class="btn md-raised bg-color md-submit md-button md-ink-ripple">LOGIN</md-button>
							   </div>
							   
							   <div class="text-right"> 
							  <p style="font-size:15px;">New User? <br><a href="#/items" ng-click="main.register();" style="color;#c23733;text-decoration:none;"> Create an account now</a></p>
							  </div>
      </div> 
    </div>

  </div>
</div>
						<!-------------------------------Login Modal Ends Here---------------------------------->	  
							  
							  
						<!-------------------------------Login Modal Starts Here---------------------------------->
<div id="registerModal" class="modal fade" role="dialog">
  <div class="modal-dialog variant-modal">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body" ng-controller="registerController">
         <div class="row">
							       <div class="form-group col-sm-6">
								   <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
								 </div>
								   <div class="form-group col-sm-6">
								   <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
								 </div>
								 </div>
							     <div class="form-group">
								   <input type="email" class="form-control" id="email" name="email" placeholder="Email">
								 </div>
								 <div class="form-group">
								   <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile">
								 </div> 
								 <div class="form-group">
								   <input type="password" class="form-control" id="password" name="password" placeholder="Password">
								 </div> 
							  
 
 

							   <div class="text-center">
							   <md-button type="button" ng-click="registerUser()" class="btn md-raised bg-color md-submit md-button md-ink-ripple">Sign up</md-button>
							   </div>
							   
							    
      </div> 
    </div>

  </div>
</div>
						<!-------------------------------Login Modal Ends Here---------------------------------->
						
						 
						<!-------------------------------Modal For CATERING ITEMS META Starts Here---------------------------------->
                              <div id="cateringItemModal" class="modal fade" role="dialog" data-backdrop="false" style="z-index:9999999;">
                                 <div class="modal-dialog variant-modal" style="z-index:9999999; " data-backdrop="false">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title"> <b>{{main.item_data.item_title}}</b></h4>
                                       </div>
                                       <div class="modal-body">
                                          <div class="row" >
                                             <div class="col-sm-9" style="border-left:1px solid #f5f5f5;">
                                                 
											   <p>{{main.item_data.item_description_catering}}</p>
											 </div>
											 <div class="col-sm-3 text-center" style="">
                                    <img src="web-food/assets/images/wall-clock.png" class="img-responsive center-block">
                                    <h5>Setup Time</h5>
                                    <p>{{main.item_data.serve_time}}</p>
                                    <br>
                                    
                                     <img src="web-food/assets/images/requirements-icon.png" class="img-responsive center-block">
                                    <h5>Requirements</h5>
                                    <p>{{main.item_data.requirements}}</p>
											 </div>
                                          </div>
										  </div>
                                       <div class=" modal-footer" >
                                          <div class="row">
									      <div class="col-sm-4 text-left form-inline" style="display:flex">
 
										  <button class="btn" ng-click="main.decreaseItemPax(item)" min="0" style="background:transparent;border:0px;outline:0 ;color:#c23733;font-size:30px;"> - </button><span class="text-center" style="display:block">Serves <br>{{item.order_item_quantity}}</span>
                                <button class="btn" ng-click="main.increaseItemPax(item)"   style="background:transparent;border:0px;outline:0 ;color:#c23733;font-size:30px;"> + </button>
										  </div>
                                <div class="col-sm-4 text-center">
                                  <h4><b> {{main.item_data.item_price * item.order_item_quantity}} <?php eho env(CURRENCY_SYMBOL);?></b></h4>
 
                                </div>
										  <div class="col-sm-4 text-right">
                                          <button class="btn md-raised bg-color md-submit md-button md-ink-ripple md-button" ng-click="main.variantCheck(main.item_data);"><i class="fa fa-shopping-art"></i> Add to Cart</button>
										  </div>
                              </div>
                                       </div>
                                    </div>
                                    </div>
                                 </div>
                              </div>
                              <!-------------------------------Modal For Product Variants Ends Here---------------------------------->
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  <!------------------------------ITEM DETAIL MODAL STARTS HERE---------------------------->
							  
							  <!-- Modal -->
<div id="itemInfoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>-->
      <div class="modal-body" ng-repeat="i in singleItemData.data">
 

<img src="admin/assets/images/banner-placeholder.png" class="img-responsive center-block" style="width:100%;" ng-show="!i.items_images[0]" > 
 <carousel interval="carouselTimer"  >
        <slide ng-repeat="images in i.items_images" active="images.active"> 
         
          <img ng-src="images/items/{{images.photo}}" class="img-responsive center-block" style="width:100%;" >  
        </slide>
      </carousel>
	  
<div style="padding:10px 20px;">
       <h3 class="item-ttile">{{i.item_title}}</h3>
	    <p class="item-price">{{i.item_price}}</p>
		<p class="item-desc" ng-repeat="meta in i.item_meta_value" ng-show="meta.item_meta_type_identifier == 'item_description_catering' || meta.item_meta_type_identifier == 'item_description_regular'">{{meta.value}}</p>
      </div> 
	  </div>
    </div>

  </div>
</div>

  <!------------------------------ITEM DETAIL MODAL STARTS HERE---------------------------->
							  