       

<section id="banner" style="background: url('web-food/assets/images/food-back-small.jpg')no-repeat center;">
   <div class="container">
      <div class="row" >
        <div class="col-sm-12"   >
                           <md-list layout-padding class="profile-data" >
							<md-list-item class="md-3-line"     >
								<img  ng-src="images/stores/{{store_photo}}" class="md-avatar" ng-show="store_photo">
								<img  ng-src="web-food/assets/images/placeholders/store-placeholder.png" class="md-avatar" ng-show="customerDataId && !store_photo" style="width: 90px;">
								<div class="md-list-item-text">
								  <h2 >{{store_title}}</h2>
								</div>
							</md-list-item>
						  </md-list>    
                      </div>
      </div>
   </div>
</section>



 <section id="view-product" style="padding:20px 0;">
   <div class="container">
   <div class="row">
     <div class="col-sm-12">
	   <h3 class="header text-uppercase">Checkout</h3>
	 </div>
   </div>
   <div class="row"   >
         <div class="col-sm-8 col-md-9 col-lg-9" >
            <div class="panel"  >
								  
                                    <div class="panel-body" ng-repeat="fields in main.addOrderMeta.fields" >
                                       <div ng-repeat="field in fields">
									   				
                                          <!--------------------div show if input type is api---------------------->													
                                          <div class="" ng-show="field.input_type == 'api'"> 
										  <!--<div ng-show="field.identifier =='customer_id'" >
											  <h5>{{field.setting_order_meta_type_title}}</h5>
                                             
                                             <input type="text" ng-model="field.value" style="display:;"  > 
                                          </div> -->
										  </div>
									
									 <!--------------------div for RADIO TYPE---------------------->	
										  <div class="form-group"   ng-show="field.identifier == 'delivery_type'" style="border-bottom:1px solid #e2e2e2;padding-bottom:10px;">
                                                      <label for="{{field.identifier}}">{{field.setting_order_meta_type_title}}</label>
													  <br>
                                                       <label  class="radio-inline" ng-repeat="options in field.field_options">
								                           <input type="radio" name="radio" ng-model="field.value" value="{{options.value}}"   id="{{field.identifier}}" ng-change="changeDeliveryType(options.value,field.identifier);">{{options.title}}
							 	                        </label> 
                                                   </div> 
												   
									    <!--------------------div for RADIO TYPE---------------------->	
										  <div class="form-group"   ng-show="field.identifier == 'order_time'" style="border-bottom:1px solid #e2e2e2;padding-bottom:10px;">
                                                      <label for="{{field.identifier}}">{{field.setting_order_meta_type_title}}</label>
													  <br>
                                                       <label  class="radio-inline" ng-repeat="options in field.field_options">
								                           <input type="radio" name="radio1" ng-model="field.value" value="{{options.value}}" id="{{field.identifier}}" ng-change="changeOrderType(options.value,field.identifier);">{{options.title}}
							 	                        </label> 
                                                   </div> 
												  

                                      <!--------------------div for DELIVERY TYPE---------------------->	
										  <div class="form-group"   ng-show="field.identifier == 'delivery_address' && field.display_show_rule == deliveryType" style="border-bottom:1px solid #e2e2e2;padding-bottom:10px;">
                                             
                                             <label for="{{field.identifier}}">{{field.setting_order_meta_type_title}} 
                                                <button class="btn" ng-click="get_address(field.parent_identifier);"   style="background:transparent;"><i class="fa fa-edit"></i></button>
                                             </label>
                                             <p>{{selected_values.address_line1}}</p>
                                             <p>{{selected_values.address_line2}}</p>
                                             <p>{{selected_values.city}}</p>
                                             <p>{{selected_values.state}}</p>
                                             <p>{{selected_values.country}}</p>
                                             <input type="text" ng-model="field.value" value="{{selected_values}} == field.value"  style="display: none;" id="user_address">
                                          
										  </div>
										   <!--------------------div for DELIVERY TIME---------------------->	
                                          <div class="" ng-show="field.input_type == 'timeSlotsPicker' && field.display_show_rule == orderType"  style="border-bottom:1px solid #e2e2e2;padding-bottom:10px;"> 
                                             <div class="" ng-show="field.identifier == 'delivery_time'">
                                                <label for="{{field.identifier}}">{{field.setting_order_meta_type_title}}  <button class="btn" ng-click="get_pickupTime(field.parent_identifier,field.identifier);"  style="background:transparent;"><i class="fa fa-edit"></i></button>
                                                </label>
                                                
												   <p>{{main.pickupTimeShow}}</p>
                                             </div>
                                          </div>


										  
										   <div ng-show="field.display_show_rule == deliveryType && field.input_type == 'text' || field.input_type == 'textarea'" style="border-bottom:1px solid #e2e2e2;padding-bottom:10px;">
                                             <label for="{{field.identifier}}">{{field.setting_order_meta_type_title}}</label>
                                             <div class="form-group" > 
                                                <textarea class="form-control" ng-model="field.value" ng-required="field.required_or_not == '1'" ></textarea>
                                             </div>
                                          </div>
										   
										 
										  </div>
                                       
                                          </div>
                                       </div>
         </div>
         
	 
         <!---------------------------RIGHT SECTION STARTS HERE------------------------>
         
         <div class="col-sm-4 col-md-3  cart-data" >
            <div ng-controller="cartController as cart" >
               <div class="panel"  >
                  <div class="panel-body order-sort-results">
                     <h5> <i class="fa fa-shopping-cart"></i> <b>Your Order</b></h5>
                     <hr>
                     <p class="text-center" ng-show="cart.cartStorage.items == ''" style="font-size:13px;color:#ccc;">No item in cart</p>
                     <div class="row cart_table" ng-repeat="item in cart.cartStorage.items track by $index" style="padding-bottom:7px; " >
                        <div class="col-sm-12">
                           <h4  style="font-size:12px"><b>{{item.item_title}}</b>
                              <span ng-show="item.variants != ''"  ><a href="#" data-toggle="tooltip" title="{{variantsSelectedTitleData}} ">&#9432;</a></span> 
                              <span ng-show="item.variants" ng-repeat="variant in item.variants">{{variant.title}} </span> 
                           </h4>
                        </div>
                        <div class="col-sm-6 col-xs-6 text-center">
                           <p   class="cart-action-btn" style="font-size:12px">
                              <button ng-click="cart.increaseItemAmount(item)">
                              +
                              </button>
                              {{item.order_item_quantity}} 
                              <button ng-click="cart.decreaseItemAmount(item)">
                              -
                              </button>
                           </p>
                        </div>
                        <div class="col-sm-2 col-xs-3">
                           <p  style="font-size:12px"><?php echo env("CURRENCY_SYMBOL", "");?>{{item.single_quantity_item_price}}</p>
                        </div>
                        <div class="col-sm-2 col-xs-3">
                           <button ng-click="cart.removeFromCart(item)" class="btn-remove"  >
                           <i class="fa fa-minus"></i>
                           </button>
                        </div>
                     </div>
					 
					  <div class="row promoCode" >
					    <div class="col-sm-12" ng-hide="cart.cartStorage.items == ''">
						  <hr>
                           <h5><b>Apply Promo Code</b></h5>
						   
						    <md-tabs >  
							   <md-tab id="tab12" ng-disabled="main.points == true" >
								  <md-tab-label>COUPON</md-tab-label>
								  <md-tab-body >
								    <div class="form-inline" style="display:inline-flex;width:100%;">
									   <div class="form-group" > 
                                                <input type="text" class="form-control" id="coupon_code" value="{{coupon_code}}" style="color:#777;">
                                        </div>
										<md-button class="btn md-raised bg-color md-add md-button md-ink-ripple text-center btn-apply" ng-click="main.applyCoupon();" ng-show="!main.coupon_code_value" >Apply</md-button>
										 <md-button class="btn md-raised bg-color md-add md-button md-ink-ripple text-center btn-cancel" ng-click="main.cancelCoupon();" ng-show="main.coupon_code_value">Cancel</md-button>
									</div>
									
									 <small>{{main.paymentData.couponMessage}}</small>
                                  </md-tab-body >	
                               </md-tab>
                              <md-tab id="tab13"  ng-disabled="main.pointsDisabled" >
								  <md-tab-label>POINTS</md-tab-label>
								  <md-tab-body >
								     <md-checkbox ng-model="main.points"  ng-checked="loyalty_points == 1" ng-change="main.changePonits()" id="points">{{main.points_title}}</md-checkbox>
									  <small>{{main.paymentData.pointsMessage}}</small>
                                  </md-tab-body >	
                               </md-tab>							   
				            </md-tabs>
						</div>
					 </div>
					 
					 
                     <div class="row  ">
                        <div class="col-sm-12">
                           <hr>
                           <h5><b>Payment summary</b></h5>
						    <div id="payment-loading1" class="loading" style="display:none ;position:relative;min-height: 150px;">
                              <img src="admin/assets/images/89.svg" class="img-responsive center-block" style="width:auto;">				 
                              <p >Calling all data...</p>
                           </div>
                           <p class="text-center" ng-show="cart.cartStorage.items == ''" style="font-size:13px;color:#ccc;">No Payment info</p>
                           <table class="table paymentSummary1 main-cart" >
                              <tbody ng-repeat="data in main.cartStorage.payment.data"  ng-show="cart.cartStorage.items != ''">
                                 <tr ng-repeat="values in data.data">
                                    <td class="" style="font-size:14px;text-transform: capitalize">{{values.title.replace('_', ' ')  }} </td>
                                    <td class="text-right" style="font-size:14px"> <?php echo env('CURRENCY_SYMBOL');?>{{values.value}} </td>
                                 </tr>
                                 <tr style="background:#f5f5f5;">
                                    <td class="" style="font-size:14px;text-transform: capitalize">Total </td>
                                    <td class="text-right" style="font-size:14px"> <?php echo env('CURRENCY_SYMBOL');?>{{data.total}} </td>
                                 </tr>
                              </tbody >
                           </table>
                           <table class="table paymentSummary1  cart"   ng-show="cart.cartStorage.items != ''">
                              <tbody ng-repeat="data in cart.paymentData.data">
                                 <tr  ng-repeat="values in data.data">
                                    <td class="" style="font-size:14px;text-transform: capitalize">{{values.title.replace('_', ' ')  }} </td>
                                    <td class="text-right" style="font-size:14px"> <?php echo env('CURRENCY_SYMBOL');?>{{values.value}} </td>
                                 </tr>
                                 <tr style="background:#f5f5f5;">
                                    <td class="" style="font-size:14px;text-transform: capitalize">Total </td>
                                    <td class="text-right" style="font-size:14px"> <?php echo env('CURRENCY_SYMBOL');?>{{data.total}} </td>
                                 </tr>
                              </tbody >
                           </table>
                        </div>
                     </div>
                     <div class="confirm-button">
                        <button class="btn btn-confirm btn-block"  ng-disabled="cart.cartStorage.items == ''" ng-click="placeOrder()"><a href="#/checkout" >Proceed</a></button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel-body">
            </div>
         </div>
      </div>
	  
	  
	  
	  </div>
	  </section>
	  
	  
	  
	  
	  
	  <!----------------------------ADDRESS MODAL STARTS HERE----------------------------------------->
	   
                              <!-- Modal -->
                              <div id="myModal" class="modal fade" role="dialog" data-backdrop="false" style="z-index:9999999;">
                                 <div class="modal-dialog modal-lg" style="z-index:9999999; " data-backdrop="false">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Select Address</h4>
                                       </div>
                                       <div class="modal-body"> 
									   <div class="row">
									     <div class="col-sm-12 text-right" ng-show="!main.data_addresses.data">
										   <a class="btn btn-select-address md-raised bg-color md-submit md-button md-ink-ripple  dropdown-toggle md-button " ng-click="storeAddress();"  >Add Address</a> 
										   <hr>
										 </div>
									   </div>
										  <div class="row addresses-row" ng-repeat="values in main.data_addresses.data " style="border-bottom:1px solid #e2e2e2;">
										  
										  
										   <p class="col-sm-8 col-lg-10">
										    
                                                      <span class=""  > Addreess Line1 : @{{values.address_line1}} </span><br>
                                                      <span class="name" >Addreess Line2 : @{{values.address_line2}} </span><br>
                                                      <span class="price" >City : @{{values.city}} </span><br>
                                                      <span class="created" >State : @{{values.state}} </span><br>
                                                      <span class="created"  >Country : @{{values.country}} </span><br>
                                                      <span class="created" >Pincode : @{{values.pincode}} </span><br>
                                                      
													  
										 
										  </p>
										  <p class="col-sm-4 col-lg-2">
										   <a class="btn btn-select-address md-raised bg-color md-submit md-button md-ink-ripple  dropdown-toggle md-button " ng-model="field.value" data-dismiss="modal"  ng-click="checkedIndex(values)"  >Select</a> 
										   
										   </p>
										   
										   <div ng-repeat="fields in main.addOrderMeta.fields " >
                                                   <p ng-repeat="field in fields" ng-show="field.identifier == 'delivery_address'" ng-if="isSelected(field)">@{{field.id}}</p>
                                                </div>
												
										  </div>
										  
                                       </div>
                                    </div>
                                 </div>
                              </div>
							  
							  <!------------------------------------------address modal ends here------------------------------->
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							    <!-------------------------------pickup Modal starts here------------------------------>
                              <div id="pickupModal" class="modal fade" role="dialog" data-backdrop="false" style="z-index:99999;">
                                 <div class="modal-dialog  " style="z-index:99999;width:80%">
                                    <!-- Modal content-->
                                    <div class="modal-content ">
                                       <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Select Delivery Time</h4>
                                       </div>
                                       <div class="modal-body"  >
                                        <!-- <ul class="nav nav-tabs picker-tabs"> 
                                            <li ng-class="{active: $index == selected}" ng-repeat="data in main.pickupDateData">
											   <a data-toggle="tab" href="#/checkout#tab{{data.day}}{{$index}}" ng-click="getPickupD(data.day);  ">{{data.day}}</a>
											</li>
	                                     </ul>
                                      <br> <div class="tab-content  ">
                                           <div ng-repeat="data in main.pickupDateData" id="tab{{data.day}}{{$index}}" class="tab-pane fade in" ng-class="{active: $index == selected}"> 
										   <div ng-repeat="fields in main.addOrderMeta.fields">
                                             <span ng-repeat=" field in fields"> 
											    <button class="btn btn-success btn-timeslots" ng-repeat="time in data.slots" ng-click="savePickup(field.identifier,time.id,field,time.from_time,time.to_time)" value="@{{time.id}}">{{time.from_time}}- {{time.to_time}}</button>
											    <input type=" " ng-model="field.value" value="@{{deliveryTime}}" id="@{{field.identifier}}" > 
											</span>
                                          </div>
                                          </div>
                                           </div>-->
										   
										   
										    <md-tabs >  
							   <md-tab id="tab12"   ng-repeat="data in main.pickupDateData" ng-click="getPickupD(data.day_name,data.date);  " >
								  <md-tab-label>{{data.day_name}}</md-tab-label>
								  <md-tab-body >
								        
											    <button class=" btn md-raised bg-color md-submit md-button md-ink-ripple  btn-timeslots" ng-repeat="time in data.slots" ng-click="savePickup(time.id,time.from_time,time.to_time)" value="@{{time.id}}">{{time.from_time}}- {{time.to_time}}</button>
												  
											    <input type="text"   value="" id="delivery_time" style="display:none;"> 
										 
                                  </md-tab-body >	
                               </md-tab>
							   
							   
				                         </div>

                                             </div>
                                          </div>
										   
                                       </div>
									   
									   <!------------------------------------------- Add address  Modal starts ------------------------------------------------>
<div id="address_add" class="modal fade" role="dialog"   style="z-index:20;" data-backdrop="false">
   <div class="modal-dialog modal-lg address-add" data-backdrop="false">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-uppercase">Add <b> Address</b></h4>
         </div>
         <div class="modal-body" ng-controller="addressController"> 
               <div class="row">
                  <div class="col-sm-12 col-md-6">
                     <div class="form-horizontal"  >
                        <label class="control-label">Search</label>
                        <div class="search-input">
                           <input type="text" class="form-control" id="us3-address" placeholder="Type area, city or street"  />
                        </div>
                        <br>
                        <!--Map by element. Also it can be attribute-->
                        <locationpicker options="locationpickerOptions" style="width:98%;padding:20px 5px;height:350px;" ></locationpicker>
                        <div class="clearfix" >&nbsp;</div>
                        <h4>@{{address}}</h4>
                        <div class="m-t-small  ">
                            <h4>Coordinates:</h4>						
                           Latitude : <input type="text" class="form-control"   id="us3-lat"  readonly><br>
                          Longitude : <input type="text" class="form-control"   id="us3-lon" readonly />
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
				  <br>
                     <div class="row">
					   <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>Address Title</label>
                              <input type="text" id="address_title" ng-model="address_title"/>
                           </md-input-container>
                        </div>
						  <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>Phone</label>
                              <input type="text" id="address_phone" ng-model="address_phone"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-12">
                           <md-input-container  class="md-block">
                              <label>Address Line 1</label>
                              <input type="text" id="address_line1" ng-model="address_line1"/>
                           </md-input-container>
                           <md-input-container  class="md-block">
                              <label>Address Line 2</label>
                              <input type="text" id="address_line2" ng-model="address_line2"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>City</label>
                              <input type="text" id="city" ng-model="city"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>State</label>
                              <input type="text" id="state" ng-model="state"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>Country</label>
                              <input type="text" id="country" ng-model="country"/>
                           </md-input-container>
                        </div>
                        <div class="col-sm-6">
                           <md-input-container  class="md-block">
                              <label>Zipcode</label>
                              <input type="text" id="pincode" ng-model="pincode"/>
                           </md-input-container>
                        </div>
                        
                        </div>
                     </div>
					 <div class="text-right">
                     <md-button ng-click="add_address()"  class="md-raised bg-color md-submit">Add Address</md-button>
                     <div>
            </div>
            </div>
         </div>
      </div>
   </div>
</div>
   </div>
<!------------------------------------ aDD addresses ends -----------------------------------> 
