<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12" >
         <ul class="nav nav-tabs" >
            <li  ><a href="#/" data-toggle="tab"   >Basic Detail</a></li>
            <li  class=""   ><a href="#/order" data-toggle="tab"   >Orders</a></li>
            <li  class="" ><a href="#/address" data-toggle="tab"   >Address</a></li>
            <li  class="active" ><a href="#/loyalty-points" data-toggle="tab"   >Loyalty Points</a></li>
         </ul>
         <div class="tab-content  tab-content-data">
            <div id="/loyalty-points" class="tab-pane fade in active">
               <div class="panel">
			    

     
                  <h4  > Orders </h4> 
                  <div id="tableToExport" class="products-table table-responsive"  >
                                          <table class="table" class="table table-striped" id="exportthis" >
										  <thead>
                     <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Source</th>
                        <th>Points</th>
                        <th>Created</th>
                     </tr>
					 </thead>
					 <tbody>
                     <tr ng-repeat="data in pointsData.data.data">
                        <td class="id"><a href="v1/order_detail_page/{{data.order_id}}">#{{data.id}} </a></td>
                        <td><span style="background:{{data.status_details[0].label_colors}};border-radius:20px;padding:2px 8px 4PX;">{{data.display_string[0].title}}</span></td>
                        <td> {{data.display_string[0].source_title}}</td>
                        <td> {{data.points}}</td>
                        <td>{{data.created_at}}</td>
                     </tr>
					 </tbody>
                  </table>
				  
				  
                                            <div class="container-fluid innerData" ng-show="!pointsData.data.data">
                                          <div class="row">
                                            <div class="col-sm-12 text-center"> 
                                                 <br> 
                                                <p>No Records found.</p>
                                            </div>
                                          </div>
                                        </div>
										</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>