
<div class="row" >
 			 
   <div class="col-sm-8"  >
      <ul class="nav nav-tabs" >
         <li class=""><a href="#/" data-toggle="tab" >Approved</a></li>
         <li class="active"><a href="#pending-requests" data-toggle="tab" >Pending</a></li>
      </ul>
	  </div>
	    				  
	   <div class="col-sm-4"  >
	     
	  </div>
	  
	  
	   <div class="col-sm-12"  >
      <div class="tab-content  tab-content-data" >
         <div id="pending-requests" class="tab-pane fade in active"  >
            <div class="panel">
               <div class="panel-body user-info">
			   
			         
						 
							  
                  <div id="tableToExport" class="products-table table-responsive"  >
                                            <table class="table" class="table table-striped" id="exportthis" >
                                             <thead>
                                                <tr> 
                                                   <th>STORE</th>
                                                   <th>USER</th>
                                                   <th>STATUS</th>
                                                   <th>CREATED</th> 
                                                   <th>REQUEST DATA</th>
                                                </tr>
                                             </thead>
                                             <tbody >
                                                <tr  ng-repeat="values in pendingRequestData.data.data  "> 
                                                   <td> {{values.store_details[0].store_title}}  </td>
                                                   <td> {{values.user_details[0].first_name}} {{values.user_details[0].last_name}}   </td>
                                                   <td>{{values.status_title}}</td>
                                                   <td>{{values.created_at_formatted}}</td> 
                                                   <td ><a  ng-click="ShowData(values);">Show</a></td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>  
									   
                                       
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



    <!-----------------------------------------------STORE BUSY ON OFF MODAL STARTS HERE-------------------------------------------------------------------->
   <div id="showRequestModal" class="modal fade" data-backdrop="false" style="z-index:20" role="dialog">
      <div class="modal-dialog modal-lg category-add"  >
         <!-- Modal content-->
         <div class="modal-content "   >
            <div class="modal-header  "  >
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title text-uppercase" >Show Requested Store Data</h4>
            </div>
            <div class="modal-body "  >
               <div class="row"   > 
                  <div class="col-sm-6">
                        <h4 class="text-center header">Current Data</h4> 
                         <hr>						
						<img src="../images/stores/{{showRequestDetail.store_details[0].store_photo}}" class="img-responsive img-thumbnail" style="height:200px;width:200px;"><br><br>
						<p><label>Store Title : </label> {{showRequestDetail.store_details[0].store_title}}</p>  
						<p><label>Longitude : </label> {{showRequestDetail.store_details[0].longitude}}</p>
						<p><label>Latitude : </label> {{showRequestDetail.store_details[0].latitude}}</p> 
						<p><label>Address : </label> {{showRequestDetail.store_details[0].address}}</p> 
						<p><u>Store Meta</u></p>
						<p ng-repeat="meta in showRequestDetail.store_meta"><label>{{meta.store_meta_type_title}} : </label> {{meta.value}} </p>  
                     </div>
					  <div class="col-sm-6" style="border-left:1px solid #ccc;">
                        <h4 class="text-center header">Requested Data</h4>
						<hr>
						<img src="../images/stores/{{showRequestDetail.request_data_object.basic_data[0].store_photo}}" class="img-responsive img-thumbnail" style="height:200px;width:200px;"><br><br>
						<p><label>Store Title :</label>  {{showRequestDetail.request_data_object.basic_data[0].store_title}}</p>  
						<p><label>Longitude : </label> {{showRequestDetail.request_data_object.basic_data[0].longitude}}</p>
						<p><label>Latitude : </label> {{showRequestDetail.request_data_object.basic_data[0].latitude}}</p> 
						<p><label>Address : </label> {{showRequestDetail.request_data_object.basic_data[0].address}}</p>
                        <p><u>Store Meta</u></p>
						<div ng-repeat="meta in showRequestDetail.request_data_object.meta_data"> 
						  <p ng-repeat="metaData in meta.fields"><label>{{metaData.title}} : </label> {{metaData.value}} </p></div> 						
                     </div>
               </div>
			   
			   <div class="row">
			   <div class="col-sm-12">
			   <div class="form-inline" style="text-right">
				 <button ng-click="rejectRequest(showRequestDetail)" class="btn md-raised bg-color md-add md-button md-ink-ripple"> Reject</button>
			     <button ng-click="approveRequest(showRequestDetail)" class="btn md-raised bg-color md-add md-button md-ink-ripple"> Approve</button>  
				 </div>
				 </div>
			   </div>
            </div>
         </div>
      </div>
   </div>
    <!-----------------------------------------------STORE BUSY ON OFF MODAL ENDS HERE-------------------------------------------------------------------->