<style>
table { 
	table-layout:;
}
table tr td { 
width:;
    padding:2px 15px 2px 15px; 
}
 
 
ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

 
ul[dnd-list] .dndDraggingSource {
    display: none;
}

 
ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

 
ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

 
</style>

<div class="row">
   <div class="col-sm-7" >
      <h2 class="header">Stores</h2>
   </div>
   <div class="col-sm-5 text-right"> 
      <a href="../store?{{restaurant_id}}"><button type="button" class="btn md-raised bg-color md-add md-button md-ink-ripple text-right" >Add Store</button></a>
   </div>
</div>
<div class="row" >
   <div class="col-sm-12"  >
      <ul class="nav nav-tabs" >
          <li class=""><a href="#/" data-toggle="tab" >About</a></li>
         <li class="active"><a href="#stores" data-toggle="tab" >Stores List</a></li>
      </ul>
      <div class="tab-content  tab-content-data" >
         <div id="stores" class="tab-pane fade in active"  >
            <div class="panel">
               <div class="panel-body user-info">
                  <div id="tableToExport" class="products-table table-responsive"  >

                     <table   class="  table table-striped" id="exportthis" >
                        <thead>
                           <tr>
                              <th>ID</th>
                              <th>TITLE</th>
                              <th>PHOTO</th>
                              <th>STORE MANAGER</th>
                                     <th>CATERING STATUS</th>
                   
							  <th>BUSY STATUS</th>
                              <th>CREATED</th>
                              <th>ACTIONS</th>
                           </tr>
                        </thead>
                        <tbody >
                           <tr ng-repeat="values in stores.data.data  "   >  
                              <td><a href="../store_menu/{{values.store_id}}" ><b>#{{values.store_id}}</b></a> </td>
                              <td>{{values.store_title}}</td>
                              <td> <img src="../../images/stores/{{values.store_photo}}" ng-show="values.store_photo" style="width:40px;height:40px;"> <img src="../../admin/assets/images/placeholder.jpg" ng-show="!values.store_photo" style="width:40px;height:40px;"> </td>
                              <td ><a href="../store_info/{{values.store_id}}?id={{values.manager_id}}#/store-manager"> {{values.manager_name}}</a></td>
                                    <td><md-switch ng-change="switch(values.catering_status,values.store_id);" ng-model="values.catering_status" value="{{values.catering_status}}"class="md-primary" ng-true-value="'1'" ng-false-value="'0'">    </md-switch></td>
                       
							  <td>{{values.busy_status_title}}</td>
                              <td>{{values.created_at_formatted}}</td>
                              <td class="actions">
							     <a class="btn btn-xs edit-product" href="../store_menu/{{values.store_id}}" >View Menu</a>
                                 <a class="btn btn-xs edit-product" href="../store_info/{{values.store_id}}?id={{values.manager_id}}" ><i class="fa fa-edit"></i></a>
                                 <a class="btn btn-xs delete-product" ng-click="deleteStore(values.store_id, $index)"><i class="fa fa-trash"></i></a> 
                              </td>
                           </tr>
                        </tbody>
                     </table>

 
                                            <div class="container-fluid innerData" >
                                          <div class="row" ng-show="!stores.data.data">
                                            <div class="col-sm-12 text-center"   > 
                                                 <br>
                                                <img class="img-responsive center-block" src="../../web-food/assets/images/placeholders/store-placeholder.png"  >
                                                <p>No Records found.</p>
                                            </div>
                                          </div>
                                        </div>


                  </div>
				  <div class="pagination text-right" style="display:block" >
                                           <button class="btn" ng-show="stores.data.first_page_url != null"   ng-click="pagination(stores.data.first_page_url);">First</button> 
                                           <button class="btn" ng-show="stores.data.prev_page_url != null"  ng-click="pagination(stores.data.prev_page_url);">Previous</button> 
                                          <span>{{stores.data.current_page}}</span>
                                          <button class="btn" ng-show="stores.data.next_page_url != null" ng-click="pagination(stores.data.next_page_url);">Next</button> 
                                          <button class="btn" ng-show="stores.data.last_page_url != null"  ng-click="pagination(stores.data.last_page_url);">Last</button> 
                                       </div>
                   
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
	/*	
		$("tbody").sortable({ 
    items: "> tr ",
    appendTo: "parent",
    helper: "clone"
}).disableSelection();

$("#tabs ul li a").droppable({
    hoverClass: "drophover",
    tolerance: "pointer",
    drop: function(e, ui) {
        var tabdiv = $(this).attr("href");
        $(tabdiv + " table tr:last").after("<tr>" + ui.draggable.html() + "</tr>");
        ui.draggable.remove();
    }
});
*/
</script>