   
<div class="row">
   <div class="col-sm-7" >
      <h2 class="header">Restaurant </h2>
   </div>
 
   
   <div class="col-sm-5 text-right" >
                                       <button ng-click="resetPassword()" class="btn md-raised bg-color md-add md-button md-ink-ripple" data-toggle="modal" data-target="#reset">Reset Password</button>
                                    </div>
</div>
<div class="row" >
   <div class="col-sm-12"  >
      <ul class="nav nav-tabs" >
         <li class="active"><a href="#/" data-toggle="tab" >About</a></li>
         <li class=""><a href="#stores" data-toggle="tab" >Stores List</a></li>
      </ul>
      <div class="tab-content  tab-content-data" >
         <div id="/" class="tab-pane fade in active"  >
		 
            <div class="panel" ng-repeat="users in editUser">
               <div class="panel-body  user-info">
                          
                               
                                            
                                                <h3>{{users.title}}</h3>
                                                <div class="row">
                                                   <div class="col-lg-6 col-sm-8">
                                                     <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'file'" >
                                                      <label for="{{data.identifier}}">{{data.title}}</label> 
                                                      <input type=" " ng-model="data.value" value="{{data.value}}" id="item_photo" style="display:none;"/>
                                                      <div style="width:150px;height: 180px; border: 1px solid whitesmoke ;text-align: center;position: relative" id="image">
													    <img width="100%" height="100%" id="preview_image1" src="../../admin/assets/images/placeholder.jpg" ng-hide="data.value"/>
                                                         <img width="100%" height="100%" id="preview_image" src="../../images/users/{{data.value}}"  ng-hide="!data.value"/>
                                                         <i id="loading1" class="fa fa-spinner fa-spin fa-3x fa-fw" style="position: absolute;left: 40%;top: 40%;display: none"></i>
                                                      </div>
                                                      <a href="javascript:changeProfile()" style="text-decoration: none;">
                                                      <i class="fa fa-edit"></i> Change
                                                      </a>&nbsp;&nbsp;
                                                      <a href="javascript:removeFile()" style="color: red;text-decoration: none;">
                                                      <i class="fa fa-trash-o"></i>
                                                      Remove
                                                      </a>
 
                                                      </p>
                                                   </div>
												   <br>
                                                   <md-input-container  class="md-block text-left" ng-repeat="data in users.fields" ng-show="data.type == 'text' || data.type == 'string'" >
                                                         <label>{{data.title}}</label>
                                                         <input type="{{data.type}}" id="{{data.identifier}}" name="{{data.identifier}}"  ng-model="data.value" value="" />
                                                      </md-input-container>
													  
													   <!----- For TEXT Type Input Field----------->
                                                   <md-input-container  class="md-block text-left" ng-repeat="data in users.fields" ng-show=" data.type == 'tel'" > 
                                                      <label>{{data.title}}  </label> 
                                                      <input type="{{data.type}}" id="{{data.identifier}}" name="{{data.identifier}}"  ng-model="data.value" value=""  />
													 
                                                   </md-input-container>
												   
													  
													   <md-input-container  class="md-block text-left" ng-repeat="data in users.fields" ng-show="data.type == 'email' "  >
                                                         <label>{{data.title}}</label>
                                                         <input type="{{data.type}}" id="{{data.identifier}}" name="{{data.identifier}}"  ng-model="data.value" value="" ng-disabled="true"/>
                                                      </md-input-container>
													  
													  
													  <md-input-container  class="md-block text-left" ng-repeat="data in users.fields" ng-show="data.type == 'password' "  >
                                                         <label>{{data.title}}</label>
                                                         <input type="{{data.type}}" id="{{data.identifier}}" name="{{data.identifier}}"  ng-model="data.value" value="" />
                                                      </md-input-container>
													  
												   
												      <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'hidden'">
                                                      <label for="{{data.identifier}}"> </label>
                                                      <input type="{{data.type}}" ng-model="data.value" class="form-control"   id="{{data.identifier}}"  placeholder="Enter {{data.title}}" >
                                                   </div>
												   
                                                      <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'tag'">
                                                         <label for="{{data.identifier}}">{{data.title}}</label> 
                                                         <tags-input ng-model="data.value" add-from-autocomplete-only="true" allow-leftover-text="false" display-property="label" key-property="id" text="text" ng-blur="text=''">
                                                            <auto-complete min-length="1" highlight-matched-text="true" source="searchData($query,data)"></auto-complete>
                                                         </tags-input>
                                                      </div>
                                                      <div class="form-group" ng-repeat="data in users.fields" ng-show="data.symbol">
                                                         <label for="{{data.identifier}}">{{data.title}}</label>
                                                         <div class="input-group">
                                                            <span class="input-group-addon">{{data.symbol}}</span>
                                                            <input type="{{data.type}}" class="form-control"   ng-model="data.value" id="{{data.identifier}}" placeholder="Enter {{data.title}}" >
                                                         </div>
                                                      </div>
													   <!----- For Radio Button Type Input Field----------->
                                                    <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'radio'">
                                                        <label for="{{data.identifier}}">{{data.title}}</label> <br> 
                                                        <label  class="radio-inline" ng-repeat="options in data.field_options">
								                           <input type="{{data.type}}" ng-model="data.value" value="{{options.value}}" name="{{data.identifier}}" >{{options.title}}
							 	                        </label> 
                                                    </div>
							  
                                                      <!----- For Checkbox Type Input Field----------->
                                                      <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'checkbox'">
                                                         <label for="{{data.identifier}}">{{data.title}} </label> <br>
                                                         <div class="checkbox" ng-repeat="options in data.field_options">
                                                            <label><input type="{{data.type}}"  ng-model="data.value[options.value]" id="{{options.value}}"  >{{options.title}}</label>
                                                         </div>
                                                         <label class="checkbox-inline" ng-repeat="options in data.field_options">
                                                         <input type="{{data.type}}" ng-model="data.value" value="{{options.value}}" >{{options.title}}
                                                         </label>
                                                      </div>
                                                      <!----- For Select Box Type Input Field----------->
                                                      <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'Selectbox'">
                                                         <label for="{{data.identifier}}">{{data.title}}</label> <br> 
                                                         <select ng-model="data.value" class="form-control"  ng-required="data.required_or_not">
                                                            <option value="" selected>Select User Type</option>
                                                            <option  ng-repeat="options in data.field_options" value="{{options.value}} ">{{options.title}}</option>
                                                         </select>
                                                      </div>
                                                      <div class="form-group" ng-repeat="data in users.fields" ng-show="data.message">
                                                         <label for="{{data.identifier}}">{{data.title}}</label>
                                                         <input type="{{data.type}}" ng-model="data.value" class="form-control"   id="{{data.identifier}}"  placeholder="Enter {{data.title}}"  >
                                                      </div>
													  <br>
													   <md-input-container  class="md-block text-left" ng-repeat="data in users.fields" ng-show="data.type == 'datePicker'" >
                                                         <label>{{data.title}}</label>
                                                          <datepicker
                                                         date-format="yyyy-MM-dd"  
                                                         button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                                         button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                                         <input ng-model="data.value" type="text" class="  font-fontawesome font-light radius3" placeholder="Enter {{data.title}}" />
                                                      </datepicker>
                                                      </md-input-container>
													  
													  
                                                      
                                                      <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'timePicker'">
                                                         <label for="{{data.identifier}}">{{data.title}}</label>
                                                         <div class="input-group clockpicker" 
                                                            clock-picker 
                                                            data-autoclose="true"   > 
                                                            <input ng-model="ctrl.time" data-format="hh:mm:ss" type="text" class="form-control" placeholder="Enter {{data.title}}">
                                                            <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                            </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-lg-12 col-sm-12 submit text-right">
                                             <button   ng-click="updateUser()" class="btn md-raised bg-color md-submit md-button md-ink-ripple">Save Changes</button>
                                          </div>
                                       
                                 </div>
                              </div>
							  
							  
							  
							  	  <!-----------------------------------------------RESET PASSWORD MODAL STARTS HERE-------------------------------------------------------------------->
                     <div id="reset" class="modal fade" data-backdrop="false"  style="z-index:20;" role="dialog">
                        <div class="modal-dialog modal-lg category-add"  >
                           <!-- Modal content-->
                           <div class="modal-content "   >
                              <div class="modal-header  "  >
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title text-uppercase"  >Reset <b>Password</b></h4>
                              </div>
                              <div class="modal-body "  >
                                 <div class="row"   >
                                    
                                    <div class="col-sm-12 col-md-6">
                                       
                                             <md-input-container  class="md-block">
                                                <label>New Password</label>
                                                <input type="password"  id="password" name="password"/>
                                             </md-input-container>
                                          
                                           
                                             <md-input-container  class="md-block">
                                                <label>Confirm New Password</label>
                                                <input type="password"  id="confirm_password" name="confirm_password"/>
                                             </md-input-container>
                                        </div>
                                        <div class="col-sm-12 col-md-6">  
                                             <md-button ng-click="resetPass()" class="md-raised bg-color md-submit">RESET</md-button>
                                          
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
						   </div>
                   
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
	/*	
		$("tbody").sortable({ 
    items: "> tr ",
    appendTo: "parent",
    helper: "clone"
}).disableSelection();

$("#tabs ul li a").droppable({
    hoverClass: "drophover",
    tolerance: "pointer",
    drop: function(e, ui) {
        var tabdiv = $(this).attr("href");
        $(tabdiv + " table tr:last").after("<tr>" + ui.draggable.html() + "</tr>");
        ui.draggable.remove();
    }
});
*/
</script>