
<div class="row" >
   <div class="col-sm-12"  >
      <ul class="nav nav-tabs" >
         <li class="active"><a href="#/" data-toggle="tab" >About</a></li>
         <li class=""><a href="#/store-manager" data-toggle="tab" >Manager Info</a></li>
          <li class=""><a href="#/working-hours" data-toggle="tab" >Working Hours</a></li>
         <li class=""><a href="#/deleivery-locations" data-toggle="tab" >Delivery Locations</a></li>
      </ul>
	  </div> 
	   <div class="col-sm-12"  >
      <div class="tab-content  tab-content-data" >
         <div id="/" class="tab-pane fade in active"  >
            <div class="panel">
               <div class="panel-body user-info">
 
			 
                                          <div class="row">
                                             <div class="col-sm-12 col-md-12">
                                                <div class="form-horizontal"  >
                                                   <label class="control-label">Search</label>
                                                   <div class="search-input">
                                                      <input type="text" class="form-control" id="us3-edit-address"  placeholder="Type area, city or street"  />
                                                   </div>
                                                   <br>
                                                   <!--Map by element. Also it can be attribute-->
                           
                                                   <locationpicker options="locationpickerOptions" style="width:98%;padding:20px 5px;" ></locationpicker>
                                                   <div class="clearfix" >&nbsp;</div>
                                                   <div class="clearfix" >&nbsp;</div>
                           <div class="row">
                                                   <div class="m-t-small form-inline col-sm-5 col-lg-4"> 
                           <h5><b>Coordinates : </b></h5>
                                                      <label>Latitude : </label> <input type="text" class="form-control" id="us3-edit-lat"     ><br>
                                                        <label>Longitude : </label> <input type="text" class="form-control"  id="us3-edit-lon"    />
                                                   </div>
                            <div class="col-sm-7 col-lg-8">
                           <md-input-container  class="md-block text-left" >
                                                   <label>Address</label>
                                                   <textarea id="address2" name="address2" rows="3" max-rows="3"  md-no-autogrow >{{store.address}} </textarea>
                                                </md-input-container>
                           </div>
                           </div>
                                                   <div class="clearfix"></div>
                                                </div>
                        <br>
                                             </div>
                                               <div class="col-sm-5 col-lg-4">
                        
                           <div class="img-upload" style="background:#f5f5f5;">
                        <div class="form-group text-center"   >
                        
                         
                           <input type="hidden" id="store_file_name" style="display:  " ng-model="store.store_photo"/>
                               
                           <div style="text-align: center;position: relative" id="image">
                             <img  style="padding:60px 40px;"  class="img-responsive center-block" id="preview_store_image1"  ng-hide="store.store_photo" src="../../admin/assets/images/img-placeholder.png"/>
                               <img    class="img-responsive center-block" id="preview_store_image" ng-hide="!store.store_photo"  src="../../images/stores/{{store.store_photo}}" style="padding:0px "/>
                            <i id="loading1" class="fa fa-spinner fa-spin fa-3x fa-fw" style="position: absolute;left: 40%;top: 40%;display: none"></i>
                           </div>
                           </div>
                       </div>
                           <div class="text-right" style="font-size: " >
                            <a href="javascript:changeStoreProfile()" title="edit" style="text-decoration: none;background:#e2e2e2;padding:8px;position:absolute;bottom: 60px; right:50px">
                            <i class="fa fa-edit"></i> 
                            </a>&nbsp;&nbsp;
                           </div>
                           
                        <br>
                      </div>
          
                                             <div class="col-sm-12 col-md-7 col-lg-8"> 
                                                <div class="row">
                                                   <div class="col-sm-12">
                                                      <md-input-container  class="md-block text-left" >
                                                         <label>Title</label>
                                                         <input type="text" id="title" name="title"  ng-model="store.store_title" />
                                                      </md-input-container>
                                                   </div>
                            <div class="col-sm-12">
                                                      <md-input-container  class="md-block text-left" >
                                                         <label>Comission</label>
                                                         <input type="text" id="commission" name="commission"  ng-model="store.commission" />
                                                      </md-input-container>
                                                   </div>




                                                   <div class="col-sm-12">
                                                      <md-input-container  class="md-block text-left" >
                                                         <label>Minimum Delivery</label>
                                                         <input type="text" id="minimum_delivery" name="minimum_delivery"  ng-model="store.minimum_delivery" />
                                                      </md-input-container>
                                                   </div>


                                                          <div class="col-sm-12">
                                                      <md-input-container  class="md-block text-left" >
                                                         <label>Store Tax</label>
                                                         <input type="text" id="store_tax" name="store_tax"  ng-model="store.store_tax" />
                                                      </md-input-container>
                                                   </div>




                           <div class="col-sm-12">
                                                      <md-input-container  class="md-block text-left" >
                                                         <label>Catering Comission</label>
                                                         <input type="text" id="catering_comission" name="catering_comission"  ng-model="store.catering_commission"  />
                                                      </md-input-container>
                                                   </div>
                            <div class="col-sm-12">
                          <label>Featured</label> 
                           <select class="form-control" id="featured"   >
                            <option value="0" ng-selected="store.featured == '0'">No</option>
                            <option value="1"  ng-selected="store.featured == '1'">Yes</option> 
                            </select>
                                           <br>
                          </div>


                                         <div class="col-sm-12">
                                                   <md-input-container  class="md-block text-left" >
                                                      <label>Catering Status</label>
                                                     <md-switch ng-change="switch(store.catering_status);" id="catering_status" ng-model="store.catering_status" value="@{{store.catering_status}}"class="md-primary" ng-true-value="'1'" ng-false-value="'0'">    </md-switch> 

                                                   </md-input-container>
                                                </div>
            
                                                   

                                                 </div> 




                                 
                                             </div>
                                          </div></div>
                            </div>
                     
                      
                     <!------------------STORE META INFORMATION STARTS HERE------------------------------------>
                      <div class="panel"  ng-repeat="meta in storeMeta">
                                          <div class="row"> 
                                             <div class="col-sm-12 col-md-12 category-add">
                      
                                                <div class="row">
                                                   <div class="col-sm-12 col-lg-6" >
                              
                              <h3>{{meta.title}}</h3><br>
                              
                                                      <md-input-container  class="md-block text-left" ng-repeat="d in meta.fields" ng-show="d.type == 'text' || d.type == 'string'">
                                                        <label>{{d.title}}</label>
                                                         <input type="{{d.type}}" id="{{d.identifier}}" name="{{d.identifier}}"  ng-model="d.value" >
                                                      </md-input-container>
                            
                           
                             <md-input-container  class="md-block text-left" ng-repeat="d in meta.fields" ng-show="d.type == 'integer'">
                                                         <label>{{d.title}}</label>
                                                         <input type="{{d.type}}" id="{{d.identifier}}" name="{{d.identifier}}"  ng-model="d.value" >
                                                      </md-input-container>
                            
                            <div class="form-group" ng-repeat="d in meta.fields" ng-show="d.type == 'api'">
                                                      <h5 >{{d.title}}</h5> 
                       <tags-input ng-model="d.value" add-from-autocomplete-only="true" allow-leftover-text="false" display-property="label" key-property="cuisine_value" text="text"   ng-blur="text=''" placeholder="Cuisines" >
                               <auto-complete min-length="1" highlight-matched-text="true" source="searchCuisineData($query)"  ></auto-complete>
                                </tags-input>
                                 
                                 
                                
                                </div>
                            
                                                
                                                   </div>
                                                   
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                     <!----------------------STORE META INFORMATION ENDS HERE-------------------------------------------->
                     
                     
                                        <div class="col-lg-12 col-sm-12 submit text-right">
                                                      <button ng-click="updateStoreData()" class="btn md-raised bg-color md-submit md-button md-ink-ripple">Save Changes</button>
                                        </div>
                           
                                    </div>
                                 </div>

									 
									   
                                       
               </div>
            </div>
         </div>
      </div>
   </div>
</div>