
<div class="row" >
   <div class="col-sm-12"  >
      <ul class="nav nav-tabs" >
         <li class=""><a href="#/" data-toggle="tab" >Menu</a></li>
         <li class=""><a href="#/categories" data-toggle="tab" >Category</a></li>
		  <li class="active"><a href="#/items" data-toggle="tab" >Items</a></li>
      </ul>
	  </div>
	  
	   <div class="col-sm-12"  >
      <div class="tab-content  tab-content-data" >
         <div id="/items" class="tab-pane fade in active"  >
            <div class="panel">
			<div class="row">
                         <div class="col-sm-12 text-right"  >
	        <a target="_blank" href="../item?regular&{{ctrl.store_id}}"><button type="button" class="btn md-raised bg-color md-add md-button md-ink-ripple text-right" >Add Regular Item</button></a>
            <a target="_blank" href="../item/?catering&{{ctrl.store_id}}"><button type="button" class="btn md-raised bg-color md-add md-button md-ink-ripple text-right" >Add Catering Item</button></a>
			
	      
	  </div>
                   </div>
               <div class="panel-body user-info">
			    
                  <div id="tableToExport" class="products-table table-responsive"  >
                                            <table class="table" class="table table-striped" id="exportthis" >
                                             <thead>
                                                <tr> 
                                                   <th>ID</th>
                                                   <th>TITLE</th>
                                                   <th>TYPE</th>
                                                   <th>PRICE</th>
                                                   <th>PHOTO</th>
                        												   <th>STATUS</th>
                        													 <th>TIME</th> 
                                                   <th>ACTIONS</th>
                                                </tr>
                                             </thead>
                                             <tbody >
                                                <tr  ng-repeat="values in ctrl.products.data.data  "> 
                                                   <td><a  target="_blank" href="../item/{{values.item_id}}?{{values.type}}&{{ctrl.store_id}}" ><b>#{{values.item_id}}</b></a> </td>
                                                   <td>{{values.item_title}}</td>
                                                    <td>{{values.type}}</td>
                                                   <td ><span ng-show='values.item_price > 0'>{{values.item_price_with_currency}}</span></td>
                                                   <td>

                                                      <img class="center-block" src="../../images/items/{{values.item_thumb_photo}}" style="height:40px;width:40px" ng-hide="!values.item_thumb_photo"> <img class="img-responsive center-block" style="height:40px;width:40px" src="../../admin/assets/images/item-placeholder.png" ng-show="!values.item_thumb_photo"> </td>

                                                    <td class="text-center" layout="row" layout-align="center center">   <md-switch class="text-center md-primary" style="margin:5px 0;" ng-change="ctrl.switchStatus(values.item_active_status,values.item_id);" ng-model="values.item_active_status" value="{{values.item_active_status}}"  ng-true-value="'active' " ng-false-value="'inactive'"  > </md-switch></td>
                                                   <td>{{values.from_time}} - {{values.to_time}}</td>
                                                   <td class="actions">
                                                      <a class="btn btn-xs edit-product" title="Edit"  target="_blank" href="../item/{{values.item_id}}?{{values.type}}&{{ctrl.store_id}}" ><i class="fa fa-edit"></i></a>
                                                      <a class="btn btn-xs delete-product" title="Delete" ng-click="ctrl.deleteItem(values.item_id)"><i class="fa fa-trash"></i></a>
                                                      <!--  <a class="btn btn-xs edit-product" href="{{ URL::to('product_edit')}}/@{{values.id}}" ><img src="{{url::to('admin/images/edit.png')}} " style="height:16px;width:16px"/></a>
                                                         <a class="btn btn-xs delete-product" ng-click="ctrl.removeChoice(values.id, $index)"><img src="{{url::to('admin/images/bin.png')}} " style="height:16px;width:13px"/></a>-->
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
										  
										    <div class="container-fluid innerData" ng-show="!ctrl.products.data.data">
                                          <div class="row">
                                            <div class="col-sm-12 text-center"> 
                                                 <br>
                                                <img class="img-responsive center-block" src="../../web-food/assets/images/placeholders/food-placeholder.png">
                                                <p>No Item found.</p>
                                            </div>
                                          </div>
                                        </div>
                                       </div> 
									   <div class="pagination text-right" style="display:block" >
                                           <button class="btn" ng-show="ctrl.products.data.first_page_url != null" ng-click="ctrl.pagination(ctrl.products.data.first_page_url);">First</button> 
                                           <button class="btn" ng-show="ctrl.products.data.prev_page_url != null" ng-click="ctrl.pagination(ctrl.products.data.prev_page_url);">Previous</button> 
                                          <span>{{ctrl.products.data.current_page}}</span>
                                          <button class="btn" ng-show="ctrl.products.data.next_page_url != null" ng-click="ctrl.pagination(ctrl.products.data.next_page_url);">Next</button> 
                                          <button class="btn" ng-show="ctrl.products.data.last_page_url != null" ng-click="ctrl.pagination(ctrl.products.data.last_page_url);">Last</button> 
                                       </div>
									   
                                       
               </div>
            </div>
         </div>
      </div>
   </div>
</div>