
<div class="row" >
    <div class="col-sm-12"  >
      <ul class="nav nav-tabs" >
         <li class="active"><a href="#/" data-toggle="tab" >Menu</a></li>
         <li class=""><a href="#/categories" data-toggle="tab" >Category</a></li>
		  <li class=""><a href="#/items" data-toggle="tab" >Items</a></li>
      </ul>
	  </div>
	  
	   <div class="col-sm-12" id="menu" >
      <div class="tab-content  tab-content-data" >
         <div id="/" class="tab-pane fade in active"  >
            <div class="panel">
               <div class="panel-body user-info"> 
			    <div ng-repeat="values in ctrl.stores"  >
			      <div class="row" >
										  
					  <div class="col-sm-5 col-md-4 col-lg-3">
			    <img src="../../images/stores/{{values.store_photo}}" ng-show="values.store_photo" class="img-responsive" style="width:200px;">
			    <img src="../../web-food/assets/images/placeholders/store-placeholder.png" ng-show="!values.store_photo" class="img-responsive"> 
				</div>
				 <div class="col-sm-7 col-md-8 col-lg-8">
				
				<h2>{{values.store_title}}</h2>
				<p style="font-size:17px;">{{values.address}}</p>
				</div>
				
			
				</div>
					<hr> 
					<h3>Categories</h3> 
				<div class="row store-menu" >
				  <div class="col-sm-12" ng-repeat="cat in ctrl.categories"> 
				      <h4 style="font-family:'Open Sans Semibold',sans-serif">{{$index+1}}. {{cat.category_title}}</h4>
				           <ul>
				              <li ng-repeat="item in cat.items">
							   <img src="../../images/items/{{item.item_photo}}" class="img-responsive" ng-show="item.item_photo" style="width: 30px;margin-right:6px">
							    <img src="../../admin/assets/images/img-placeholder.png" class="img-responsive" ng-show="!item.item_photo" style="margin-right:2px">
							    <span>{{item.item_title}}</span>
							  </li>
				          </ul>
				  </div>
				                  <div class="col-sm-12 text-center innerData" ng-show="!ctrl.categories"> 
                                                 <br>
                                                <img class="img-responsive center-block" src="../../web-food/assets/images/placeholders/food-placeholder.png">
                                                <p>No Records found.</p>
                                            </div>
                                         
				</div>
				
				</div>
				
			 
				</div>
                 
									   
                                       
              
            </div>
         </div>
      </div>
   </div>
</div>