
<div class="row" >
   <div class="col-sm-12"  >
      <ul class="nav nav-tabs" >
        
          <li class=""><a href="#/" data-toggle="tab" >About</a></li>
         <li class=""><a href="#/store-manager" data-toggle="tab" >Manager Info</a></li>
          <li class="active"><a href="#/working-hours" data-toggle="tab" >Working Hours</a></li>
         <li class=""><a href="#/deleivery-locations" data-toggle="tab" >Delivery Locations</a></li>
      </ul>
	  </div> 
	   <div class="col-sm-12"  >
      <div class="tab-content  tab-content-data" >
         <div id="/" class="tab-pane fade in active"  >
            <div class="panel">
               <div class="panel-body user-info">
 
									   
									   
									   
									
 <div class="row">
 <button type="button" style="float:right;margin-bottom: 10px;" class="btn btn-info " ng-click="addWorkingHours()">Add New</button>
 <div class="col-md-12">
 <div class="table-responsive">
      <form id="empform" >
          <table id="mytable" class="table table-bordered">
              <thead>
                 <th style="width:5%;">SNO</th>
                  <th style="width:15%;">Day</th>
				   <th style="width:10%;">Shift Start</th> 
                  <th style="width:10%;">Shift End</th>
                  <th style="width:25%;">Actions</th> 
                 </thead>
            <tbody>
                <tr ng-repeat="store in stores">
                   <td>{{$index+1}} <input name="id{{$index}}" ng-model="store.id"  ng-disabled="!enabledEdit[{{$index}}]" style="display:none;"/></td> 
				   <td>
				     <select ng-model="store.weekday" name="weekday{{$index}}" ng-disabled="enabledEdit[{{$index}}]" class="form-control"> 
					   <option>Select Weekday</option>
					   <option value="Mon">Mon</option>
					   <option value="Tue">Tue</option>
					   <option value="Wed">Wed</option>
					   <option value="Thu">Thu</option>
					   <option value="Fri">Fri</option>
					   <option value="Sat">Sat</option>
					   <option value="Sun">Sun</option>
				     </select>
					</td> 
				  <td> <input type="text" mdc-datetime-picker="" date="false" time="true" class="form-control  md-input"  name="start_time{{ $index }}" id="start_time" ng-model="store.start_time"  value="{{store.start_time}}"  style="width:80%" placeholder="Enter end time" min-date="minDate" format="HH:mm:ss" required  ng-disabled="enabledEdit[{{$index}}]"> </td>
                  <td> <input type="text"mdc-datetime-picker="" date="false" time="true" class="form-control  md-input"  name="end_time{{ $index }}" id="to_time1" ng-model="store.end_time"  value="{{store.end_time}}"  style="width:80%" placeholder="Enter end time" min-date="minDate" format="HH:mm:ss" required  ng-disabled="enabledEdit[{{$index}}]"> </td>
				   
                     <td >
                         <div class="buttons">
						  <input type="submit" id="btnAdd" class="btn btn-primary " value="Submit" ng-show="!storeId && !store.id" ng-click="submitWorkingHours($index)"/>
                              <button class="btn btn-primary" id="editHoursBtn"  ng-show="storeId || store.id" ng-click="editWorkigHours(store.id,$index)">Edit</button>
                              <button class="btn btn-danger" ng-click="deleteWorkigHours(store.id,$index)">Delete</button>
                         </div> 
                     </td>
                  </tr>
         </tbody>
     </table>
   
 </form>

    <div class="container-fluid innerData" ng-show="!stores[0]">
                                          <div class="row">
                                            <div class="col-sm-12 text-center"> 
                                                 <br>  
                                                <p>No Records found.</p>
                                            </div>
                                          </div>
                                        </div>
 <div class="clearfix"></div>
 </div>
 </div>
  </div>

									 
									   
                                       
               </div>
            </div>
         </div>
      </div>
   </div>
</div>