
<div class="row" >
   <div class="col-sm-8"  >
      <ul class="nav nav-tabs" >
         <li class=""><a href="#/" data-toggle="tab" >Menu</a></li>
         <li class="active"><a href="#/categories" data-toggle="tab" >Category</a></li>
		  <li class=""><a href="#/items" data-toggle="tab" >Items</a></li>
      </ul>
	  </div>
	  <div class="col-sm-4">
	    <button type="button" class="btn md-raised bg-color md-add md-button md-ink-ripple text-right"  data-toggle="modal" data-target="#add">Add New</button>
	  </div>
	   
	   <div class="col-sm-12"  >
      <div class="tab-content  tab-content-data" >
         <div id="/categories" class="tab-pane fade in active"  >
            <div class="panel">
               <div class="panel-body user-info">
                   <div id="tableToExport" class="products-table table-responsive"  >
                              <table class="table" class="table table-striped" id="exportthis" >
                                 <thead>
                                    <tr>
                                       <th>ID</th>
                                       <th>CATEGORY NAME</th>
                                       <th>CATEGORY PHOTO</th>
                                       <th>Status</th>
									    <th>CREATED</th>
                                       <th id="action">ACTION</th>  
                                    </tr>
                                 </thead>
                                 <tbody>
                                    
                                    <tr ng-repeat="values in ctrl.categories.data.data  ">
                                       <td>#{{values.category_id}}</td>
                                       <td>{{values.category_title}}<br> <small ng-show="values.parent_category_title"><b>Parent Category :</b>{{values.parent_category_title}}</small></td>
									   <td>
										 <img style="height:40px;width:40px" class="img-responsive center-block" ng-hide="!values.category_photo" src="../../images/categories/{{values.category_photo}}" />
										 <img  style="height:40px;width:40px" class="img-responsive center-block" ng-show="!values.category_photo" src="../../admin/assets/images/placeholder.jpg" />
									   </td>
					                   <td class="text-center" layout="row" layout-align="center center">   <md-switch class="text-center md-primary" style="margin:5px 0;"  ng-change="ctrl.switchStatus(values.status,values.category_id);" ng-model="values.status" value="{{values.status}}"  ng-true-value="1 " ng-false-value="0"  >  </md-switch></td>
                                       <td>{{values.created_at_formatted}}</td>
                                       


                                       <td>
                                           <a class="btn btn-xs edit-product" ng-click="ctrl.editCategory(values, $index)" ><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-xs delete-product" ng-click="ctrl.deleteCategoryId(values.category_id, $index)"><i class="fa fa-trash"></i></a>               
                                       </td> 
                                    </tr>
                                    
                                 </tbody>
                              </table>
							  
							   <div class="container-fluid innerData" ng-show="!ctrl.categories.data.data">
                                          <div class="row">
                                            <div class="col-sm-12 text-center"> 
                                                 <br>
                                                <img class="img-responsive center-block" src="../../web-food/assets/images/placeholders/food-placeholder.png">
                                                <p>No Category found.</p>
                                            </div>
                                          </div>
                                        </div>
                           </div>
                <div class="pagination text-right" style="display:block" >
                                           <button class="btn"  ng-show="ctrl.categories.data.first_page_url != null" ng-click="ctrl.pagination(ctrl.categories.data.first_page_url);">First</button> 
                                           <button class="btn"  ng-show="ctrl.categories.data.prev_page_url != null" ng-click="ctrl.pagination(ctrl.categories.data.prev_page_url);">Previous</button> 
                                          <span>{{ctrl.categories.data.current_page}}</span>
                                          <button class="btn"  ng-show="ctrl.categories.data.next_page_url != null" ng-click="ctrl.pagination(ctrl.categories.data.next_page_url);">Next</button> 
                                          <button class="btn"  ng-show="ctrl.categories.data.last_page_url != null" ng-click="ctrl.pagination(ctrl.categories.data.last_page_url);">Last</button> 
                                       </div>
									   
                                       
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


 <!-----------------------------------------------CATEGORY ADD MODAL STARTS HERE-------------------------------------------------------------------->
   <div id="add" class="modal fade" data-backdrop="false" style="z-index:9999" role="dialog">
      <div class="modal-dialog modal-lg category-add"  >
         <!-- Modal content-->
         <div class="modal-content "   >
            <div class="modal-header  "  >
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title text-uppercase"  >Add <b>Category</b></h4>
            </div>
            <div class="modal-body "  >
               <div class="row"   >
                  <div class="col-sm-6">
             

                     <div class="img-upload" style="background:#f5f5f5;">
                        <div class="form-group text-center"   >
            
              <input type="file" id="file" style="display:none "/>
                           <input type="" id="file_name" style="display:none "/>
                           <br><br>      
                           <div style="text-align: center;position: relative" id="image">
                              <img width="300px"  id="preview_image" src="../../admin/assets/images/placeholder.jpg"/>
                              <i id="loading1" class="fa fa-spinner fa-spin fa-3x fa-fw" style="position: absolute;left: 40%;top: 40%;display: none"></i>
                           </div>
                           <br><br>
                           <p class="text-right">
                              <a href="javascript:changeProfile()" title="edit" style="text-decoration: none;background:#e2e2e2;padding:8px;">
                              <i class="fa fa-edit"></i> 
                              </a>&nbsp;&nbsp; 
                           </p>
                           <br>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <h5>Parent Category</h5>
             <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="selectedItem" md-search-text-change="searchCategoryChange(searchText)" md-search-text="searchText" md-selected-item-change="ctrl.selectedCategoryChange(values)" md-items="values in ctrl.categorySearch(searchText)" md-item-text="values.category_title" md-min-length="0" placeholder="Select Parent Category"  md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                            <span class="item-title"> 
                                   <span> {{values.category_title}} </span> 
                             </span> 
                        </md-item-template>
                     </md-autocomplete>
            <input type="hidden" id="category_id" name="category_id" ng-model="category_id" value="{{category_id}}" />
                     
                     <br>
                     <md-input-container  class="md-block">
                        <label>Title</label>
                        <input type="text"     id="category_title" name="category_title"/>
                     </md-input-container>
                     
             
                     <md-button ng-click="ctrl.storeCategory()" class="md-raised bg-color md-submit" style="bottom:0px;">Add Category</md-button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
    <!-----------------------------------------------CATEGORY ADD MODAL ENDS HERE-------------------------------------------------------------------->
  
  
  
  
  
  
  
  
   <!-----------------------------------------------CATEGORY ADD MODAL STARTS HERE-------------------------------------------------------------------->
   <div id="editCat" class="modal fade" data-backdrop="false" style="z-index:9999" role="dialog">
      <div class="modal-dialog modal-lg category-add"  >
         <!-- Modal content-->
         <div class="modal-content "   >
            <div class="modal-header  "  >
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title text-uppercase"  >Edit <b>Category</b></h4>
            </div>
            <div class="modal-body "  >
               <div class="row"   >
                  <div class="col-sm-6">
                      <div class="img-upload" style="background:#f5f5f5;">
                        <div class="form-group text-center"   >
            
              <input type="file" id="file" style="display:none "/>
                           <input type="" id="file_name1" style="display:  "/>
                           <br><br>      
                           <div style="text-align: center;position: relative" id="image">
                              <img    class="img-responsive center-block"  id="preview_image1" ng-show="!ctrl.category_photo" src="../../admin/assets/images/placeholder.jpg"/>
                  <img    class="img-responsive center-block" id="preview_image2" ng-show="ctrl.category_photo"  src="../../images/categories/{{ctrl.category_photo}}" style="padding:0px 20px;"/> 
                              <i id="loading1" class="fa fa-spinner fa-spin fa-3x fa-fw" style="position: absolute;left: 40%;top: 40%;display: none"></i>
                           </div>
                           <br><br>
                           <p class="text-right">
                              <a href="javascript:changeProfile()" title="edit" style="text-decoration: none;background:#e2e2e2;padding:8px;">
                              <i class="fa fa-edit"></i> 
                              </a>&nbsp;&nbsp; 
                           </p>
                           <br>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <h5>Parent Category</h5>
           <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.parent_category_title" md-search-text-change="ctrl.searchEditCategoryChange(searchText)" md-search-text="searchText" md-selected-item-change="ctrl.selectedEditCategoryChange(data)" md-items="data in ctrl.editCategorySearch(searchText)" md-item-text="data.category_title" md-min-length="0" placeholder="Select Parent Category"  md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                            <span class="item-title"> 
                                   <span> {{data.category_title}} </span> 
                             </span> 
                        </md-item-template>
                     </md-autocomplete>
            <input type="hidden" id="category_edit_id" name="category_edit_id"  ng-model="ctrl.parent_id" value="{{ctrl.parent_id}}" />
         
                     <br>
                     <md-input-container  class="md-block">
                        <label>Title</label>
                        <input type="text"  ng-model="ctrl.category_edit_title"  value="" id="category_edit_title" name="category_edit_title"/>
                     </md-input-container>
           
      
                     <br>
                     <md-button ng-click="ctrl.updateCategory(ctrl.category_id)" class="md-raised bg-color md-submit" style="bottom:0;">Update Category</md-button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
    <!-----------------------------------------------CATEGORY ADD MODAL ENDS HERE-------------------------------------------------------------------->
	