
<div class="row" >
   <div class="col-sm-12"  >
      <ul class="nav nav-tabs" >
          <li class=""><a href="#/" data-toggle="tab" >About</a></li>
         <li class=""><a href="#/store-manager" data-toggle="tab" >Manager Info</a></li>
          <li class=""><a href="#/working-hours" data-toggle="tab" >Working Hours</a></li>
         <li class="active"><a href="#/deleivery-locations" data-toggle="tab" >Delivery Locations</a></li>
      </ul>
	  </div> 
	   <div class="col-sm-12"  >
      <div class="tab-content  tab-content-data" >
         <div id="/" class="tab-pane fade in active"  >
            <div class="panel">
               <div class="panel-body user-info">
                
				 					   
									   
									   									
 <div class="row">
 <button type="button" style="float:right;margin-bottom: 10px;" class="btn btn-info " ng-click="addDeliveryLocation()">Add New</button>
 <div class="col-md-12">
 <div class="table-responsive">
      <form id="empform" >
          <table id="mytable" class="table table-bordered">
              <thead>
                 <th style="width:5%;">SNO</th>
                  <th style="width:15%;">Area</th>
				   <th style="width:10%;"> Start</th> 
                  <th style="width:10%;">End</th>
				   <th style="width:10%;">Delivery Fees</th>
                  <th style="width:25%;">Actions</th> 
                 </thead>
            <tbody>
                <tr ng-repeat="location in locations">
                   <td>{{$index+1}} <input name="id{{$index}}" ng-model="location.id"  ng-disabled="!enabledEdit[{{$index}}]" style="display:none;"/></td> 
				   <td>
				 
				   <select ng-model="location.area_id" name="area_id{{$index}}" ng-disabled="enabledEdit[{{$index}}]" class="form-control" > 
        <option ng-selected="{{area.area_id == location.area_id}}" ng-repeat="area in areas" value="{{area.area_id}}" name="">{{area.title}}</option>
    </select>
	
				      
					</td> 
				  <td> <input type="text" mdc-datetime-picker="" date="false" time="true" class="form-control  md-input"  name="start_time{{ $index }}" id="start_time" ng-model="location.start_time"  value="{{location.start_time}}"  style="width:80%" placeholder="Enter end time" min-date="minDate" format="HH:mm:ss" required  ng-disabled="enabledEdit[{{$index}}]"> </td>
                  <td> <input type="text"mdc-datetime-picker="" date="false" time="true" class="form-control  md-input"  name="end_time{{ $index }}" id="to_time1" ng-model="location.end_time"  value="{{location.end_time}}"  style="width:80%" placeholder="Enter end time" min-date="minDate" format="HH:mm:ss" required  ng-disabled="enabledEdit[{{$index}}]"> </td>
				   <td> <input type="text" date="false" time="true" class="form-control  md-input"  name="delivery_fee{{ $index }}" id="delivery_fee" ng-model="location.delivery_fee"  value="{{location.delivery_fee}}"  style="width:80%" placeholder="Enter delivery fee"   required  ng-disabled="enabledEdit[{{$index}}]"> </td>
                     <td >
                         <div class="buttons">
						  <input type="submit" id="btnAdd" class="btn btn-primary " value="Submit" ng-show="!storeId && !location.id" ng-click="submitDeliveryLocation($index)"/>
                              <button class="btn btn-primary" id="editHoursBtn"  ng-show="storeId || location.id" ng-click="editDeliveryLocation(location.id,$index)">Edit</button>
                              <button class="btn btn-danger" ng-click="deleteDeliveryLocation(location.id,$index)">Delete</button>
                         </div> 
                     </td>
                  </tr>
         </tbody>
     </table>
   

                                            <div class="container-fluid innerData" ng-show="!locations[0]">
                                          <div class="row">
                                            <div class="col-sm-12 text-center"> 
                                                 <br> 
												  <img src="../../web-food/assets/images/placeholders/address-placeholder.png" class="img-responsive center-block"  >
                                                <p>No Records found.</p>
                                            </div>
                                          </div>
                                        </div>

 </form>
 
 
 <div class="clearfix"></div>
 </div>
 </div>
  </div>
									   
                                       
               </div>
            </div>
         </div>
      </div>
   </div>
</div>