
<div class="row" >
   <div class="col-sm-8"  >
      <ul class="nav nav-tabs" >
           <li class="active"><a href="#/" data-toggle="tab" >Subscribed Users ({{subscribers_count}})</a></li>
         <li class=""><a href="#/unsubs" data-toggle="tab" >Unsubscribed Users ({{unsubscribers_count}})</a></li>
      </ul>
	  </div>
	   
	   <div class="col-sm-12"  >
      <div class="tab-content  tab-content-data" >
         <div id="/" class="tab-pane fade in active"  >
            <div class="panel">
               <div class="panel-body user-info">
                
                  <div id="tableToExport" class="products-table table-responsive"  >
                                          <table class="table" class="table table-striped" id="exportthis" >
                                             <thead>
                                                <tr> 
                                                   <th>Email</th>
                                                   <th>Status</th>
												               <th>User Details</th>   
                                          <th>UnSubscribe</th>                                               
                                                </tr>
                                             </thead>
                                             <tbody >
                                                <tr  ng-repeat="values in subscribers.data"> 
                                                  
                                                   <td>{{values.email}}</td>
						                                 <td>{{values.status_title}}</td>
                                                    <td ng-if="values.user_details != 0"> 
 
                                                      <span ng-repeat="val in values.user_details">
                                                        <p ng-show='val.first_name != ""'> Name :{{val.first_name + ' ' + val.last_name }}</p>
                                                        <p ng-show='val.email != ""'> Email :{{val.email }}</p>
                                                        <p ng-show='val.phone != ""'> Phone :{{val.phone }}</p>
                                                        <span ng-show='val.first_name == ""'>Not Registered </span>

                                                      </span>




                                                    </td>


                                                

                                                    <td ng-if="values.user_details == 0"> 

                                 Not Registered
                                                    </td>


                                                        <td> <button ng-click="unsubscribe(values.email)" class='btn btn-danger'>UnSubscribe</button> </td>

                                                </tr> 
                                             </tbody>
                                          </table>


                                            <div class="container-fluid innerData" ng-show="!subscribers.data">
                                          <div class="row">
                                            <div class="col-sm-12 text-center"> 
                                                 <br> 
                                                <p>No Records found.</p>
                                            </div>
                                          </div>
                                        </div>


                                         </div> 
									    <div class="pagination text-right" style="display:block" >
                                           <button class="btn" ng-show="subscribers.first_page_url != null" ng-click="pagination(subscribers.first_page_url);">First</button> 
                                           <button class="btn" ng-show="subscribers.prev_page_url != null" ng-click="pagination(subscribers.prev_page_url);">Previous</button> 
                                          <span>{{subscribers.current_page}}</span>
                                          <button class="btn" ng-show="subscribers.next_page_url != null" ng-click="pagination(subscribers.next_page_url);">Next</button> 
                                          <button class="btn" ng-show="subscribers.last_page_url != null" ng-click="pagination(subscribers.last_page_url);">Last</button> 
                                       </div>
									   
                                         
               </div>
            </div>
         </div>
      </div>
   </div>
</div>