
<div class="row" >
   <div class="col-sm-12"  >
      <ul class="nav nav-tabs" >
 

                    <li class=""><a href="#/" data-toggle="tab" >Subscribed Users ({{subscribers_count}})</a></li>
         <li class="active"><a href="#/unsubs" data-toggle="tab" >Unsubscribed Users ({{unsubscribers_count}})</a></li>
      </ul>
      <div class="tab-content  tab-content-data" >
         <div id="/unsubs" class="tab-pane fade in active"  >
            <div class="panel">
               <div class="panel-body user-info">
                  <div id="tableToExport" class="products-table table-responsive"  >
                                          <table class="table" class="table table-striped" id="exportthis" >
                                             <thead>
                                                <tr> 
                                                    <th>Email</th>
                                                   <th>Status</th>
                                                    <th>User Details</th>  
                                                    <th>Subscribe</th>     
                                                </tr>
                                             </thead>
                                             <tbody >
                                                <tr  ng-repeat="values in unsubscribers.data"> 
                                                  
                                                   <td>{{values.email}}</td>
                                                    <td>{{values.status_title}}</td>
                                                    <td ng-if="values.user_details!=0">
                                                      <span ng-repeat="val in values.user_details">
                                                        <p> Name :{{val.first_name + ' ' + val.last_name }}</p>
                                                        <p> Email :{{val.email }}</p>
                                                        <p> Phone :{{val.phone }}</p>
                                                      </span>
                                                    </td>

                                                          <td ng-if="values.user_details == 0"> 

                                 Not Registered
                                                    </td>
 <td> <button ng-click="subscribe(values.email)" class='btn btn-success'>Subscribe</button> </td>
                                                         <!-- <td> <button ng-click="subscribe(values.email)" class='btn btn-success'>Subscribe</button> </td>-->

                                                </tr> 
                                             </tbody>
                                          </table>
                                              <div class="container-fluid innerData" >
                                          <div class="row" ng-show="!unsubscribers.data">
                                            <div class="col-sm-12 text-center"   > 
                                                 <br> 
                                                <p>No Records found.</p>
                                            </div>
                                          </div>
                                        </div>

                                       </div> 
                                        <div class="pagination text-right" style="display:block" >
                                           <button class="btn"  ng-show="ctrl.coupons.data.first_page_url != null"  ng-click="ctrl.pagination(ctrl.coupons.data.first_page_url);">First</button> 
                                           <button class="btn"  ng-show="ctrl.coupons.data.prev_page_url != null"  ng-click="ctrl.pagination(ctrl.coupons.data.prev_page_url);">Previous</button> 
                                          <span>{{ctrl.coupons.data.current_page}}</span>
                                          <button class="btn" ng-show="ctrl.coupons.data.next_page_url != null"  ng-click="ctrl.pagination(ctrl.coupons.data.next_page_url);">Next</button> 
                                          <button class="btn"  ng-show="ctrl.coupons.data.last_page_url != null"  ng-click="ctrl.pagination(ctrl.coupons.data.last_page_url);">Last</button> 
                                       </div>  
               </div>
            </div>
         </div>
      </div>
   </div>
</div>