  <!---------------------------------------BANNER SECTION STARTS HERE-------------------------------------------->
            <section id="main-banner" style="background: url('web-food/assets/images/food-back.jpg')no-repeat center;">
               <div class="container"> 
                  <div class="row" >
                      <div class="col-sm-12 col-lg-8 col-lg-offset-2"  >
                                     
                        <div class="row">
						    <div class="col-sm-12 text-center">
							 <ul class="food-type list-inline">
							 <li class="delivery" ng-class="class" >
							  <a href="#/" ng-click="getItemType('regular');">
							    <img src="web-food/assets/images/food-delivery.png" class="img-responsive center-block;">
							    <p class="text-uppercase text-center">Food Delivery</p>
							  </a>
							 </li>
							  <li class="catering" ng-class="class1">
							    <a href="#/" ng-click="getItemType('catering');"> 
							     <img src="web-food/assets/images/catering.png" class="img-responsive center-block;">
							     <p class="text-uppercase text-center">Catering</p>
								</a>
							  </li>
							</ul>
						  </div>
						  
						  <div class="col-sm-12 text-center">
						  <div class="row">
						    <form class="form-inline text-center"  >
								<div class="form-group">
								<md-autocomplete ng-disabled="isDisabled" md-no-cache="noCache" md-selected-item="selectedItem" md-search-text-change="searchAreaChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedAreaChange(item)" md-items="item in areaSearch(searchText)" md-item-text="item.title" md-min-length="0" placeholder="Select Area" md-menu-class="autocomplete-custom-template"   >
                                                <md-item-template>
                                                        <span class="item-title"> 
                                                   <span>{{item.title}} </span>
                                         
                                                   </span> 
                                                </md-item-template>
                                             </md-autocomplete>
											  
								</div> 
								<div class="form-group" ng-show="catering_status =='0'">
								<md-autocomplete ng-disabled="isDisabled" md-no-cache="noCache" md-selected-item="selectedItem2" md-search-text-change="searchCuisinesChange(searchText1)" md-search-text="searchText1" md-selected-item-change="selectedCuisinesChange(c)" md-items="c in cuisinesSearch(searchText1)" md-item-text="c.value" md-min-length="0" placeholder="Search Cuisines" md-menu-class="autocomplete-custom-template"   >
                                                <md-item-template>
                                                        <span class="item-title"> 
                                                   <span>{{c.value}} </span> 
                                                   </span> 
                                                </md-item-template>
                                             </md-autocomplete>
											  
								</div> 
								
								 
								<md-button   class="btn md-raised bg-color md-submit md-button md-ink-ripple" ng-click="searchStore();">search</md-button>
							  </form>
							 </div>
						  </div>
                     </div>
					 </div>
                 </div>
               </div>
            </section>
		<!---------------------------------------WORKS SECTION ENDS HERE-------------------------------------------->
 
 
 
 
 
 
  
		
		
		
		
		
		
		
		
		
		
        <!---------------------------------------WORKS SECTION STARTS HERE-------------------------------------------->
            <section id="works" >
               <div class="container">
                  <div class="row"> 
                     <div class="col-sm-12 text-center">   
                         <h2 class="header">How it Works</h2>
						 <p class="sub-header text-capitalize">Order Food in 3 easy steps. easy online payments</p>
                     </div> 
                  </div>
                  <div class="row works-content" >
                      <div class="col-sm-4"  >
					     <img src="web-food/assets/images/restaurant.png" class="img-responsive center-block">
                         <div>
						    <h4 class="text-center">Choose a Restaurant</h4>
						 </div>     
                     </div>
					 <div class="col-sm-4"  >
					     <img src="web-food/assets/images/tasty-dish.png" class="img-responsive center-block">
                         <div>
						    <h4 class="text-center">Choose a Tasty Dish</h4>
						 </div>     
                     </div>
					 <div class="col-sm-4"  >
					     <img src="web-food/assets/images/pickup-delivery.png" class="img-responsive center-block">
                         <div>
						    <h4 class="text-center">Pick Up or Delivery</h4>
						 </div>     
                     </div>
                 </div>
               </div>
            </section>
		<!---------------------------------------WORKS SECTION ENDS HERE-------------------------------------------->
		
		
		  <!---------------------------------FETURED RESTAURANTS SECTION STARTS HERE---------------------------------------->
            <section id="featured-restaurants" >
               <div class="container">
                  <div class="row"> 
                     <div class="col-sm-12 text-center">   
                         <h2 class="header">Featured Restaurants</h2>
						 <p class="sub-header text-capitalize">Explore restaurants,bars and cafe's by locality</p>
                     </div> 
                  </div>
                  <div class="row  featured-content" >
                      <div class="col-sm-4 col-md-3 col-lg-2"  ng-repeat="data in featuredRest" >  
					  <a href="#/items" ng-click="getItems(data, 'items')"><img src="web-food/assets/images/store-placeholder.png" ng-show ="!data.store_thumb_photo" title="{{data.store_title}}" class="img-responsive center-block" style="min-height:150px;margin-bottom:10px;padding: 0 10px; height: 150px;"> </a> 
					    <a href="#/items" ng-click="getItems(data, 'items')"> <img src="images/stores/{{data.store_thumb_photo}}"  title="{{data.store_title}}" ng-show ="data.store_thumb_photo"  class="img-responsive center-block" style="min-height:150px;margin-bottom:10px;"> </a>   
                     </div> 
                 </div>
               </div>
            </section>
		<!---------------------------------------WORKS SECTION ENDS HERE-------------------------------------------->
		
		
		
		   <!---------------------------------------MOBILE APP SECTION STARTS HERE-------------------------------------------->
            <section id="mobile-app" >
               <div class="container">
                  <div class="row"> 
                     <div class="col-sm-7 text-center"> 
					   <img src="web-food/assets/images/mobile-app.png" class="img-responsive center-block" style="width:60%;">
                      </div>
					  <div class="col-sm-5 right" > 
					     <h3 class="header">Download our App Now!</h3>
						 <p>Find it on Appstore and Playstore</p><br>
						 <ul class="list-inline">
						 <li> <a href="https://www.apple.com/" target="_blank"><img src="web-food/assets/images/app_store.png" class="img-responsive center-block"></a></li>
						 <li> <a href="https://play.google.com/store?hl=en" target="_blank"><img src="web-food/assets/images/google_play.png" class="img-responsive center-block"></a></li>
						 </ul>
                      </div>
                 </div>
               </div>
            </section>
		<!---------------------------------------MOBILE APP SECTION ENDS HERE-------------------------------------------->					  
		
		