
        <!---------------------------------------BANNER SECTION STARTS HERE-------------------------------------------->
            <section id="banner" style="background: url('web-food/assets/images/food-back-small.jpg')no-repeat center;">
               <div class="container"> 
                  <div class="row" >
                      <div class="col-sm-12 text-center" >   <md-list layout-padding class="profile-data" >
							<md-list-item class="md-3-line"     >
								
								<div class="md-list-item-text">
								 <br><br>
								  <h2>Restaurants in {{area_title}}</h2> 
								</div>
							</md-list-item>
						  </md-list>    
						  
                      </div>
                      
                       <!--<div class="col-sm-12 ">
                                                 	<div class="form-group">
								<md-autocomplete ng-disabled="isDisabled" md-no-cache="noCache" md-selected-item="area_title" md-search-text-change="searchAreaChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedAreaChange(item)" md-items="item in areaSearch(searchText)" md-item-text="item.title" md-min-length="0" placeholder="Select Area" md-menu-class="autocomplete-custom-template"   >
                                                <md-item-template>
                                                        <span class="item-title"> 
                                                   <span>{{item.title}} </span>
                                         
                                                   </span> 
                                                </md-item-template>
                                             </md-autocomplete>
										</div>	  
								</div> -->
                 </div>
               </div>
            </section>
		<!---------------------------------------WORKS SECTION ENDS HERE-------------------------------------------->
 
        <!---------------------------------------WORKS SECTION STARTS HERE-------------------------------------------->
            <section id="stores" style="min-height:500px;">
               <div class="container"  >
                  <div class="row"> 
                     <div class="col-sm-3  ">   
                         <div class="panel panel-left">
						 <div class="panel-body">
						 <h4 class="header">Cuisines</h4><br>
						  <ul >
						    <li ng-repeat="c in cusiniesList.data"> 
							   <md-checkbox ng-model="c.check" aria-label="Checkbox1" ng-checked="c.check==true" ng-change="cuisinesFiler(c.check,c.identifier);" id="cuisines-{{c.value}} ">  {{c.value}} </md-checkbox>
							   
							   <!-- <md-checkbox ng-model="cuisinesValue.selected " value="c.value" id="cuisines-{{c.value}} " ng-change="cuisinesFiler(c.value);" ng-checked="cuisinesValue == true">  {{c.value}} </md-checkbox>-->
							</li> 
						  <ul>
						 </div>
						 </div>
                     </div> 
					 
					 
					 <div class="col-sm-6 " >   
					    <div id="loading" class="loading" style="display:none ;">
                              <img src="web-food/assets/images/89.svg" class="img-responsive center-block">				 
                              <p >Loading...</p>
                           </div>
						   
                         <div class="panel panel-center-list innerData" ng-repeat="s in storesList.data">
						 <div class="panel-body">
						 
						   
						   <div class="row ">
							 <div class="col-sm-3 col-md-4 col-lg-3 text-center">
							 <span ng-show="s.busy_status == 1 " style="background:red;color:#fff;padding:2px 5px">({{s.busy_status_title}})</span> 
							  <span ng-show="s.busy_status == 0 && s.close_status == 1"  style="background:red;color:#fff;padding:2px 5px">{{s.close_status_title}}</span>
							   <img src="images/stores/{{s.store_photo}}" class="img-responsive center-block" ng-show="s.store_photo">
							    <img src="web-food/assets/images/placeholders/store-placeholder.png" class="img-responsive center-block" ng-show="!s.store_photo" style="padding-top:20%;">
							 </div>
							  <div class="col-lg-9 col-sm-9 col-md-8">
							  <div style="display:flex">
							     <h4 class="header" style="margin-bottom:5px;"> {{s.store_title}}  
								    <span ng-show="s.busy_status == 0 && s.close_status == 0">({{s.busy_status_title}})</span> 
							    </h4>
								 
								    <md-button style="min-height: 30px;font-size:13px;line-height:30px;" class="btn md-raised bg-color md-submit md-button md-ink-ripple"  ng-disabled="true" ng-hide="s.busy_status == 0 && s.close_status == 0">View Menu</md-button>
								 
								 
								  <a href="#/items" ng-click="getStoreItems(s);">
								    <md-button style="min-height: 30px;font-size:13px;line-height:30px;" class="btn md-raised bg-color md-submit md-button md-ink-ripple"  ng-show="s.busy_status == 0 && s.close_status == 0">View Menu</md-button>
								 </a>
								 </div>
								  <p style="font-size:15px;">{{s.address}}</p>
								    <p style="font-size:15px;"ng-repeat="meta in s.store_meta"><span ng-show="meta.store_meta_type_identifier == 'cuisines'">{{meta.value}}</span></p>
								  <table class="table " class="table table-striped" id="exportthis" >
                                         
                                             <tbody >
                                                <tr   > 												
                                                    <td class="text-left" style="color:#000;font-size:13px;"> 
													 <!-- <div star-rating rating-value="s.store_rating" max="5" ></div> -->
													   <span style="background:#d0d0d0;padding:1px 5px;"><span class="fa fa-star"  ng-checked="s.store_rating >= 1"></span> 
									 				   <span>{{s.store_rating}}</span></span>
													 </td> 

                                                   <td  class="text-right" style="font-size:15px;color:#a2a2a2;" >{{s.cuisines}}</td>
                                                     <td class="text-right" ng-show="customerDataId"> 
													  <i class="fa fa-heart active" ng-if="s.favourite_store_id != ''"   ng-click="changeStatus(s.store_id , s.favorite_store_id);"></i>
      <i class="far fa-heart inactive" ng-if="s.favourite_store_id == ''" ng-click="changeStatus(s.favourite_store_id);"></i></td>												   
												</tr   >   
                                             </tbody>
                                          </table> 	 
										</div>
								  </div> 
						 </div>
						  </div>
						  
						   <div class="panel panel-center-list innerData" ng-show="!storesList.data">
						 <div class="panel-body">
						 
					        <div class="container-fluid " >
                                          <div class="row">
                                            <div class="col-sm-12 text-center"> 
                                                 <br>
                                                <img class="img-responsive center-block" src="web-food/assets/images/placeholders/store-placeholder.png" style="width:auto;">
                                                <p>No Store found.</p>
                                            </div>
                                          </div>
                                        </div>
					   </div>
                                        </div>
						  </div>
					 
					 
					  <div class="col-sm-3 ">   
                         <div class="panel panel-right">
						   <div class="panel-body">
						    <h4 class="header">Sort By</h4> 
						       <table  class="table">
								<tr>
								  <td> <i class="fa fa-sort"></i></td>
								  <td > <a href="#/stores" ng-click="popularSort();">Popular</a></td>
								</tr>
								<tr>
								  <td> <i class="fa fa-location-arrow"></i></td>
								  <td> <a href="#/stores" ng-click="nearBySort();">NearBy</a></td>
								</tr> 
							  </table>
						   </div>
						 </div>
					 </div>
                  </div> 
               </div>
            </section>
		<!---------------------------------------WORKS SECTION ENDS HERE-------------------------------------------->