* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    float: left;
}

.header {
    width: 100%;
    float: left;
    padding: 10px 0;
}

.logo {
    width: 20%;
    float: left;
}

.logo img {
    width: 100%;
}

.logo-txt {
    width: 30%;
    float: left;
}

.login-text {
    width: 24%;
    float: right;
}

.login-text i {
    padding-right: 10px;
    padding-left: 10px;
}

.cart {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 2px 0;
}

.cart span {
    padding-right: 5px;
}

.slider {
    width: 100%;
    float: left;
}

.slider-main {
    width: 100%;
    float: left;
}

.image-section {
    width: 100%;
    float: left;
}

.image-section img {
    width: 100%;
    height: 160px;
    display: inline-block;
}

.feature {
    width: 100%;
    float: left;
    padding-top: 10px;
}

.feature p {
    float: left;
}

.view {
    float: right;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 11px;
    padding: 5px;
}

.burger-imgs {
    width: 25%;
    padding: 10px;
    float: left;
}

.burger-imgs img {
    width: 100%;
}

.owl-carousel .owl-item img {
    height: 300px;
}

.right-img {
    width: 100%;
    float: left;
}

.right-img img {
    width: 100%;
    margin-top: 100px;
}

.download {
    width: 100%;
    float: left;
    background: url(../images/subway-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
}

.download-txt {
    width: 100%;
    float: left;
}

.download-txt p {
    width: 100%;
    font-size: 20px;
    padding-top: 250px;
    font-weight: 600;
    padding-left: 200px;
    color: #000;
}

.app-icons {
    width: 100%;
    float: left;
}

.app-icons p {
    padding-top: 150px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.app-icons img {
    width: 26%;
    margin-left: 84px;
    display: block;
    margin-bottom: 15px;
}

.who {
    width: 100%;
    float: left;
}

.who-text {
    width: 100%;
    float: left;
}

.who-text h4 {
    width: 27%;
    text-align: center;
    padding-top: 50px;
    color: orangered;
    padding-bottom: 30px;
}

.who-text p {
    text-align: justify;
}

.who-text p a {
    text-decoration: none;
    color: #fff;
    background: orangered;
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    margin-left: 69px;
}

.kabab {
    width: 100%;
    float: left;
    padding-top: 50px;
}

.resturent {
    width: 100%;
    float: left;
    text-align: center;
}

.resturent img {
    width: 4%;
    margin-bottom: 10px;
}

.resturent p a {
    display: inline-block;
    text-decoration: none;
}

.resturent p a:nth-child(1) {
    padding: 10px 20px;
    border: 1px solid orangered;
    color: orangered;
    font-weight: 600;
    font-size: 15px;
}

.resturent p a:nth-child(2) {
    padding: 10px;
    border: 1px solid green;
    color: green;
    font-weight: 600;
    font-size: 15px;
}

.hori {
    width: 100%;
    float: left;
    overflow: hidden;
    padding: 30px 0;
}

.hori-div {
    width: 100%;
    float: left;
}

.hori-div hr {
    width: 100%;
    display: inline-block;
    border: 0.5px solid #ff450026;
}

.footer {
    width: 100%;
    float: left;
    padding-bottom: 80px;
}

.footer-nav {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
}

.footer-nav ul {
    list-style-type: none;
}

.footer-nav ul li a {
    text-decoration: none;
    color: grey;
}

.find-us {
    width: 100%;
    float: left;
}

.find-us h6 {
    color: grey;
}

.find-us .circle {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #000;
    position: relative;
}

.find-us .circle::before {
    content: '\f09a';
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 6px;
}

.find-us .circle2::before {
    content: '\f099';
    font-family: FontAwesome;
    position: absolute;
    top: -1px;
    left: 4px;
}

.find-us .circle3::before {
    content: '\f16d';
    font-family: FontAwesome;
    position: absolute;
    top: -2px;
    left: 3px;
}

.find-us .circle4::before {
    content: '\f0e1';
    font-family: FontAwesome;
    position: absolute;
    top: -3px;
    left: 5px;
}

.find-us .circle5::before {
    content: '\f231';
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 6px;
}

.footer1 {
    width: 100%;
    float: left;
    background: orangered;
}

.footer1 p {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 20px 0;
    margin-bottom: 0px;
}

.left-footer {
    width: 60%;
    float: left;
}

.right-footer {
    width: 18%;
    float: right;
}