html,body{font-family:'Open Sans',sans-serif;} 
h1,h2,h3,h4,h5,h6,p,span, ul li{font-family:'Open Sans',sans-serif;}
table>thead>tr>th , table>tbody>tr>td{font-family:'Open Sans',sans-serif;}

table>thead>tr>th{text-align:center;}
section{padding:30px 0 20px;}
	p{font-size:16px;}
	
	.loading {
    position: absolute;
    z-index: 999;
    height: 2em;
    width: 12em;
    overflow: show;
    margin: auto;
    top: 40;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
	
	}
.md-button.bg-color{background-color:#c33332!important;color:#fff!important;border-radius:0px;}
.md-button.bg-color:hover{color:#fff}
.form-group .form-control{border-radius:0px;font-family:'Open Sans',sans-serif;}


#works,#mobile-app, #login, #orders, #stores{background:#ecedf2}


#featured-restaurants{background:#fff;}
#featured-restaurants .featured-content{padding:20px 0;}
#featured-restaurants .featured-content img{border:1px solid #ecedf2;width:100%}

/*=====HEADER======*/

.header{font-family:'Open Sans Semibold',sans-serif;}
header .navbar .navbar-right md-button{margin:0px} 
header .navbar{margin-bottom:0px;}
 
.navbar-right .dropdown ul.dropdown-menu{border-radius:0px;}
.navbar-right .dropdown ul li a{color:#000;padding:8px 20px;font-size:13px;font-family:'Open Sans Semibold',sans-serif;} 
.navbar-right .dropdown ul li:hover a, .navbar-right .dropdown ul li:hover a i{color:#c33332;background:transparent;}
.navbar-right .dropdown ul li a i {color:#ccc;padding-right:10px;width:30px}

.navbar-right .dropdown ul li:hover a img.img-normal{display:none;}
.navbar-right .dropdown ul li:hover a img.img-active{display:inline-block;}
.navbar-right .dropdown ul li a img.img-active{display:none;padding-right:10px;}
.navbar-right .dropdown ul li a img.img-normal{display:inline-block;padding-right:10px;}


/*=====FOOTER======*/
footer{background:#282c35} 
footer .foot-title{color:#fff;opacity:0.6}
footer .form-group{width:40%}
footer .form-group .form-control{width:100%;height:40px;}
footer md-button.bg-color{height:40px;padding:0 25px;line-height:40px;margin:1px 12px 0;} 
footer .widget ul{list-style-type:none;}
footer .widget ul li a {color:#fff; font-size:15px;line-height:24px;text-decoration:none}
footer .widget ul li{color:#fff;opacity:0.6;font-size:15px;line-height:24px;}
footer p{color:#fff;opacity:0.6;letter-spacing:0.4px}
footer p a{color:#c33332;font-family:'Open Sans semibold',sans-serif;}
@media(max-width:767px){
footer .form-group{display:inline-block;width:65%;}
footer md-button.bg-color{margin-top:-4px!important}
}


section#main-banner, section#banner{padding:0px;}

/*=======BANNER======*/
#banner button{padding: 5px 30px;font-size: 15px;letter-spacing: 0.6px;}
#banner{    min-height: 250px; background-size: cover;}
#banner .profile-data h2, #banner .profile-data h4{color:#fff}
#banner md-list-item .md-avatar{border-radius:0px;height:60px;width:60px;margin-top:25px;}
#banner h2.header{color:#fff;padding-top:60px;font-size:35px;}
 
/*=====MAIN iNDEX BANNER======*/ 
#main-banner{background-size:cover!important;padding:50px 0!important;}
#main-banner li.active, #main-banner li:hover, #main-banner li:active{background:#c33332;padding:8px 15px 0;height:auto;width:130px;}
#main-banner li{background-color:rgba(234,237,243,0.6);padding:8px 15px 0;height:auto;width:130px;letter-spacing:0.4}
#main-banner li a{text-decoration:none;}
#main-banner .delivery img, #main-banner .catering img{padding-left:13px;}
#main-banner p{color:#fff;font-size:12.6px;padding-top:10px;}
#main-banner .food-type{display:inline-flex;padding:20px 0}
#main-banner .form-inline{padding:20px 0;}
#main-banner md-autocomplete{border-radius:0px;height:50px}
#main-banner .md-button{min-width:150px;padding:6px 50px;letter-spacing:0.8px;}
#main-banner md-autocomplete md-autocomplete-wrap, #main-banner md-autocomplete input:not(.md-input){height:50px;}


/*=====INDEX DESIGN======*/ 
#works .works-content{padding:30px 0;}
#works .works-content h4{font-family:'Open Sans Semibold',sans-serif;}
#works .works-content img{ border-radius: 50%;   border: 2px solid #c52d2f; padding: 20px;}

 
#mobile-app{padding-bottom:0px;}
@media(min-width:992px){ #mobile-app .right{padding-top:60px;}}
@media(min-width:768px) and (max-width:991px){ #mobile-app .right{padding-top:20px;}}
@media(max-width:767px){ #mobile-app .right{padding-top:50px;padding-bottom:50px;text-align:center!important}}




/*=====LOGIN DESIGN======*/ 


#login .panel{padding:20px 0px;} 
@media(min-width:768px){
   #login .panel .left{border-right:1px solid #d6d6d7;padding:5px 50px;}
   #login .panel .right{padding-top:40px;}
}
@media(max-width:767px){
   #login .panel .left{border-bottom:1px solid #d6d6d7;padding:5px 50px 15px;}
   #login .panel .right{padding-top:10px;}
}

#login p a{color:#c33332;font-family:'Open Sans Semibold',sans-serif;text-decoration:none;}
#login md-button{padding:3px 40px}
#login .form-control{border:1px solid #d6d6d7;height:40px;border-radius:3px;}
#login span.center-part{font-family:'Open Sans Semibold',sans-serif;font-size:16px;top: -33px;
    position: relative;background:#fff;padding:5px 10px}
#login	hr{border-top:1px solid #d0d0d0;}



.left-nav-links tr td img.img-normal{display:block;}
.left-nav-links tr td img.img-active{display:none;}

.left-nav-links tr:hover td img.img-normal, .left-nav-links tr:active td img.img-normal, .left-nav-links tr.active td img.img-normal{display:none;}
.left-nav-links tr:hover td img.img-active, .left-nav-links tr:active td img.img-active, .left-nav-links tr.active td img.img-active{display:block;}


#orders .panel .products-table table>tbody>tr>td, #orders .panel .products-table table>tr>td, #orders .panel .products-table table>thead>tr>th{text-align:center;font-size:14px;} 

#orders .panel.left table>tbody>tr>td, #orders .panel.left table>tr>td{text-align:left;border:0px;font-family:'Open Sans Semibold',sans-serif;font-size:14px;} 
#orders .panel.left table>tbody>tr>td i ,#orders .panel.left table>tr>td i{color:#ccc;}
#orders .panel.left table>tbody>tr>td a{color:#000;text-decoration:none;}
#orders .panel.left table>tbody>tr.active>td a, #orders .panel.left table>tbody>tr.active>td i{color:#c33332; }
#orders .panel.left table>tbody>tr.active>td{background:transparent}


#account .md-button{padding:5px 30px;}


#stores .table{margin-bottom:0px;}
#stores .panel-left ul{list-style:none;padding:0px}

#stores .panel-left ul li span{padding-left:10px;font-family:'Open Sans Semibold',sans-serif;}
#stores md-checkbox .md-icon,md-checkbox .md-container{height:18px;width:18px;}

#stores .panel-right table tr td{border:0px;}
#stores .panel-right table tr td a{color:#000;text-decoration:none;}

#stores .panel-center-list table tr td{color:#d1d1d1;padding:8px 0!important}
#stores .panel-center-list table tr td p{font-family:'Open Sans Semibold',sans-serif;color:#000}
@media(min-width:992px){#stores .panel-center-list .md-button{position: absolute; right: 0;}
 #stores .panel-center-list img{ width:100%}
 #stores .panel-center-list table tr td.text-left p{padding-left:10px}
  #stores .panel-center-list table tr td.text-right p{padding-right:20px}}
@media(max-width:767px){#stores .panel-center-list .md-button{position: absolute;right: 0;}
#stores .panel-center-list table tr td.text-left p{padding-left:10px}
  #stores .panel-center-list table tr td.text-right p{padding-right:20px}}
  
  
  
  
  
  
  
  #view-product .panel{border:0px;}
  #view-product .panel-collapse{padding:5px 10px 0;}
  
  
  
  
  
  
  
#contact md-button{padding:3px 50px}
#contact input.form-control{border:1px solid #d6d6d7;height:45px;border-radius:3px;}  
#contact .contact-info .info-title{font-size:18px;font-family:'Open Sans Semibold',sans-serif;}
  #contact .contact-info .info-text p{font-size:15px;color:#818b95}
  #contact .contact-info .info-icon{font-weight: 600;  color: #c23635; font-size: 20px;}
  
  /*-----------------order detail css style---------*/
  
 #order-detail .panel{
background:#ffffff;
border:1px solid #d2d2d2;
box-shadow:1px 3px 0 0 rgba(0,0,0,0.10);
border-radius:5px;  
margin:15px 0;
padding:8px 25px 8px; 
height:350px;
overflow-y:scroll;overflow:auto; 
}

#order-detail .panel-action{
	padding:0px;
}
#order-detail .panel-action .panel-header{
	background:#2e9f1c;
	padding:8px 18px 8px;
	color:#fff;
	border-radius:5px;
}
#order-detail .panel-action .panel-header h3{
	 margin-top:5px;
	 font-family:'Open Sans',sans-serif;
	 font-size:20px;
	 margin-bottom:6px;
}


#order-detail .panel .item-image img, .panel .user-image img{
	height:40px;
	width:40px;
}
#order-detail .panel .item-title{
font-family:'Open Sans Semibold',sans-serif;
font-size:12.8px;
color:#3f3f41;
}
#order-detail .panel .item-desc{
font-family:'Open Sans',sans-serif!important;
font-size:12.8px!important;
color:#3f3f41!important;
line-height:18px;
}
#order-detail .panel .item-units, .panel .item-total{
font-family:'Open Sans',sans-serif;
font-size:16px;
color:#000000;
}
#order-detail .panel .block-title {
font-family:'Open Sans Semibold',sans-serif;
font-size:20px;
color:#000000;
letter-spacing:0; 
margin-bottom:12px;
}
#order-detail .panel .order-title{
font-family:'Open Sans Semibold',sans-serif;
font-size:15px;
color:#000000; 
margin-bottom:4px;
}
#order-detail .panel .order-desc{
opacity:0.55;
font-family:'Open Sans',sans-serif;
font-size:15.28px;
color:#000000;
}
#order-detail .panel p, #order-detail  pre  { 
font-family:'Open Sans',sans-serif!important;
margin:0px!important; 
font-size:15.28px!important;
color:#373738!important;  
line-height:22px!important;
}
#order-detail .panel .name{
font-family:'Open Sans Semibold',sans-serif;
font-size:15.28px;
letter-spacing:0;
}
#order-detail .panel .name a{
color:#0279c5;
text-decoration:none;
}

#order-detail .user-desc{font-size:13px!important;}
#order-detail pre {
	background:transparent!important;
	border:0px!important;
	margin:0px!important;padding:0px!important; 
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#order-detail .panel .ordersummary{
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
}
#order-detail .panel .ordersummary:last-child{
	border:0px;
}
#order-detail hr{
	margin:10px 0;
}
#order-detail .panel .table.items-detail>tbody>tr>td{
	border-bottom:1px solid #ddd;
	font-family:'Open Sans',sans-serif;
	border-top:0px ;
	font-size:14px;
}
 
#order-detail .panel .table.paymentSummary>tbody>tr>td{
font-family:'Open Sans',sans-serif;
font-size:16.8px;
color:#373738;
letter-spacing:0;
border:0px;
padding:5px;
}
#order-detail .panel .table>tbody>tr.total{
margin-top:10px;
}
#order-detail .panel .table>tbody>tr.total>td{
border-top:1px solid #ddd!important;
border-bottom:0px;
font-size:16.8px;
color:#373738;
font-family:'Open Sans Semibold',sans-serif;
}
#order-detail .panel .table>tbody>tr.total>td, .panel .table.paymentSummary>tbody>tr:nth-last-child(2)>td{
	 padding:9px 2px 12px;
}

#order-detail .table.items-detail>tbody>tr>td{padding:8px 4px!important;}
#order-detail .table>tbody>tr>td, #order-detail .table>tbody>tr>th, #order-detail .table>tfoot>tr>td, #order-detail .table>tfoot>tr>th, #order-detail .table>thead>tr>td, #order-detail .table>thead>tr>th{padding:8px 0!important;}
#order-detail .table>tbody>tr>th,#order-detail .table>tfoot>tr>th,#order-detail .table>thead>tr>th{font-size:14px;}






/*===============================faq style===========================*/

#faq{
	padding:60px 0px;
	background:#fff;
}
#faq .panel{margin-bottom:15px!important;}
#faq .panel-group{
	padding-left:30px
}
#faq .panel-title a{
	font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    color: #7d7d7d;
	text-decoration:none;
	/* position:relative */
}
#faq .panel-heading{padding:12px 15px;}
#faq .panel-heading a{
	color:#000
}
#faq .panel-body{
	font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: 0.6px;
    line-height: 25px;
}
#faq .panel-title a.collapsed::before{
    content: "\f054";
    font-family: FontAwesome;
    font-size: 15px;
	color:#C52D2F;
    right: 40px;
    line-height: 25px;
	padding-top:15px;
    position: absolute;
    transform: translateY(-50%);
    margin: 1px 0 0 0;
}
#faq .panel-title a::before{
	content: "\f078";
	font-family: FontAwesome;
    font-size: 15px;
	color:#C52D2F;
    right: 40px;
    line-height: 25px;
	padding-top:20px;
    position: absolute;
    transform: translateY(-50%);
    margin: 1px 0 0 0;
}
#faq .faq-about h3{
	font-size: 18px;
	font-family: 'Open sans semibold',sans-serif;
	padding: 20px 0;
	letter-spacing:0.4px;
}
 h3.faq-title{
	color:#fff;
	padding:120px 0;
}

/*
#faq #accordion .panel-title a:before,
#faq #accordion .panel-title a.collapsed:before{
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    font-weight: 900;
    color: #c33332;
    text-align: center;
    position: absolute;
   /* top: 8px;*
    right: 40px;
    transform: rotate(135deg);
    transition: all 0.3s ease 0s;
}
#faq #accordion .panel-title a.collapsed:before{
    color: #c33332;
    transform: rotate(0);
}
#faq #accordion .panel-title a:after{
    content: "";
   /* width: 1px;
    height: 100%;
    background: #ececec;
    position: absolute;
    top: 0;
    right: 55px;*
}*/

 #checkout .panel { border-radius: 0px;}
#checkout .panel .panel-body label{margin-bottom:10px;font-size:15px;}
#checkout .panel .panel-body {padding: 10px 25px;}