body{
	background:#f4f5f8!important;
	}
	
.static-content-wrapper{background:#f4f5f8;}

.navbar{min-height:62px;}
.navbar-fixed-top + #wrapper, .navbar-fixed-top + #layout-fixed{padding-top:75px !important;}
#topnav.navbar-dark {
  background-color: #3c3d3f;
  border-color: #263137;
}
#topnav.navbar-dark .toolbar-trigger a{color:#fff;}
#topnav .toolbar-trigger a span.icon-bg{
	display: block;
    border-radius: 2px;
    height: 32px;
    width: 36px;
    padding: 6px;
    font-size: 20px;
    text-align: center;
}

.sidebar-default.static-sidebar-wrapper,
.sidebar-default.fixed-sidebar-wrapper {
  background: #F4F5F9;
  font-size:16px;
}

}
.sidebar-default .sidebar .widget .widget-body {
  color: #bdbdbd;
  background: #F4F5F9;
}
.sidebar-default .sidebar .widget .widget-body h1,
.sidebar-default .sidebar .widget .widget-body h2,
.sidebar-default .sidebar .widget .widget-body h3,
.sidebar-default .sidebar .widget .widget-body h4,
.sidebar-default .sidebar .widget .widget-body h5,
.sidebar-default .sidebar .widget .widget-body h6 {
  color: #bdbdbd;
}
.sidebar-default .sidebar .widget .widget-block {
  border-bottom: 1px solid #eeeeee;
  color: #bdbdbd;
}
.sidebar-default .sidebar .widget .widget-block h1,
.sidebar-default .sidebar .widget .widget-block h2,
.sidebar-default .sidebar .widget .widget-block h3,
.sidebar-default .sidebar .widget .widget-block h4,
.sidebar-default .sidebar .widget .widget-block h5,
.sidebar-default .sidebar .widget .widget-block h6 {
  color: #bdbdbd;
}
.sidebar-default .sidebar .widget .widget-block .big {
  color: #616161;
}
.sidebar-default .sidebar .contextual-progress {
  border-bottom: 1px solid #eeeeee;
}
.sidebar-default .sidebar .contextual-progress .progress-title,
.sidebar-default .sidebar .contextual-progress .progress-title a,
.sidebar-default .sidebar .contextual-progress .progress-percentage {
  color: #000;
}
.sidebar-default .sidebar .contextual-progress .progress-title a:hover {
  color: #616161;
}
.sidebar-default .sidebar .contactdetails .contact-status {
  font-size: 11px;
  color: #bdbdbd;
}
.sidebar-default .sidebar .contactdetails .contact-name {
  color: #616161;
}
.sidebar-default .sidebar .contactdetails ul.details li {
  background: #f5f5f5;
  color: #000;
}
.sidebar-default .sidebar .contactdetails ul.details li:hover {
  color: #616161;
}

.sidebar-default .search-toggler i {
  color: #bdbdbd;
}

.sidebar-default nav.widget-body > ul.acc-menu ul,
.sidebar-default nav.widget-body > ul.acc-menu ul li a {
  background: #f5f5f5;
  color: #000;
}
.sidebar-default nav.widget-body > ul.acc-menu li a {
   border-left:4px solid #F4F5F9;
   color: #000;
  background: #F4F5F9;
}
.sidebar-default nav.widget-body > ul.acc-menu > li:hover > a,.sidebar-default nav.widget-body > ul.acc-menu > li:focus > a {
  border-left:4px solid #4a6c82;
  background-color:#ECEEF2;
  color: #000;
}
.sidebar-default nav.widget-body > ul.acc-menu > li:hover > a i {
  color: #000;
}
.sidebar-default nav.widget-body > ul.acc-menu > li.active > a , .sidebar-default nav.widget-body > ul.acc-menu > li.actives > a {
	 border-left:4px solid #4a6c82;
  background:#ECEEF2;
  color: #000;
}
.sidebar-default nav.widget-body > ul.acc-menu > li > a > i {
  color: #a5a5a5;
}
.sidebar-default nav.widget-body > ul.acc-menu > li > a:hover > i {
  color: #616161;
}
.sidebar-default nav.widget-body > ul.acc-menu > li.active > a > i,
.sidebar-default nav.widget-body > ul.acc-menu > li.active > a:hover > i {
  color: #616161;
}
.sidebar-default nav.widget-body > ul.acc-menu ul li a {
  border-top: 1px solid transparent;
}
.sidebar-default nav.widget-body > ul.acc-menu ul li a:hover {
  background-color: #eeeeee;
  color: #616161;
}
.sidebar-default nav.widget-body > ul.acc-menu ul li.active:not(.open) > a {
  color: #616161;
}
.sidebar-default nav.widget-body > ul.acc-menu li.disabled-link a {
  color: #757575;
}


.sidebar nav.widget-body > ul.acc-menu {
  white-space: normal;
  margin: 0;
  padding-left: 0 !important;
}
.sidebar nav.widget-body > ul.acc-menu > li:first-child > a {
  border-top: 0;
}
.sidebar nav.widget-body > ul.acc-menu .badge {
  right: 48px !important;
  margin-top: 2px !important;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6000000, endColorstr=#e6000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6000000, endColorstr=#e6000000);
}
.sidebar nav.widget-body > ul.acc-menu .label {
  float: right;
  position: absolute;
  right: 48px !important;
  margin-top: 2px !important;
}
.sidebar nav.widget-body > ul.acc-menu .divider {
  height: 0px;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.sidebar nav.widget-body > ul.acc-menu a {
  text-decoration: none;
}
.sidebar nav.widget-body > ul.acc-menu ul {
  padding: 8px 0;
  padding-left: 0 !important;
  list-style: none;
}
.sidebar nav.widget-body > ul.acc-menu ul,
.sidebar nav.widget-body > ul.acc-menu ul li a {
  border-top: none;
  box-shadow: none;
}
.sidebar nav.widget-body > ul.acc-menu li,
.sidebar nav.widget-body > ul.acc-menu li a {
  white-space: nowrap;
}
.sidebar nav.widget-body > ul.acc-menu li a {
  display: block;
  padding: 14px 24px;
  position: relative;
  font-weight: 400;
}
.sidebar nav.widget-body > ul.acc-menu > li > a > i {
  margin-left: 0px;
  margin-right: 16px;
  min-width: 16px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
}
.sidebar nav.widget-body > ul.acc-menu ul li a {
  padding: 6px 24px 6px 56px;
  font-weight: 400;
}

.sidebar nav.widget-body > ul.acc-menu ul li.active:not(.open) > a {
  font-weight: 700;
}
.sidebar nav.widget-body > ul.acc-menu li ul {
  display: none;
}
.sidebar nav.widget-body > ul.acc-menu ul ul {
  padding: 0;
}
.sidebar nav.widget-body > ul.acc-menu li li li a {
  padding-left: 72px;
}
.sidebar nav.widget-body > ul.acc-menu ul ul ul li a {
  padding-left: 88px;
}
.sidebar nav.widget-body > ul.acc-menu ul ul ul ul li a {
  padding-left: 104px;
}
.sidebar nav.widget-body > ul.acc-menu li.disabled-link a {
  cursor: not-allowed;
  font-style: italic;
}
.sidebar nav.widget-body > ul.acc-menu li.hasChild > a {
  position: relative;
}
.sidebar nav.widget-body > ul.acc-menu li.hasChild > a:before {
  opacity: 0.25;
  filter: alpha(opacity=25);
}
.sidebar nav.widget-body > ul.acc-menu li.hasChild > a:before {
  content: "\f105";
}
.sidebar nav.widget-body > ul.acc-menu li.hasChild.open > a:before {
  content: "\f107";
}
.sidebar nav.widget-body > ul.acc-menu li.hasChild > a:before,
.sidebar nav.widget-body > ul.acc-menu li.hasChild.open > a:before,
.sidebar nav.widget-body > ul.acc-menu li.hasChild.open > a:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-size: 13px;
  padding-right: 0px;
  min-width: 16px;
  float: right;
}
.sidebar nav.widget-body > ul.acc-menu li.hasChild li.hasChild a:before {
  top: 4px;
}
body.sidebar-collapsed .sidebar nav.widget-body > ul.acc-menu > li.hasChild > a:before {
  content: "";
}
body.sidebar-collapsed .sidebar nav.widget-body > ul.acc-menu > li.hasChild:hover > a:before {
  content: "\f107";
  opacity: 0.25;
  filter: alpha(opacity=25);
}
body.sidebar-collapsed .sidebar nav.widget-body > ul.acc-menu li.hasChild:hover > a:before {
  content: "\f107";
}
.sidebar-collapsed .hasChild > ul.acc-menu {
  display: none !important;
}
.sidebar-collapsed .hasChild:hover > ul.acc-menu {
  display: block !important;
}
.sidebar .widget .widget-heading,
.nav-separator {
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #353535;
  color: #e0e0e0;
  display: block;
  font-weight: 600;
  margin-top: 8px;
  padding: 8px 12px;
}
.sidebar .widget .widget-heading:empty,
.nav-separator:empty {
  font-size: 0;
  padding: 4px 0px;
}
.sidebar .widget .widget-body {
  color: #e0e0e0;
  background: #424242;
}
.sidebar .widget .widget-body.with-padding {
  padding: 20px;
}
.sidebar .widget .widget-body h1,
.sidebar .widget .widget-body h2,
.sidebar .widget .widget-body h3,
.sidebar .widget .widget-body h4,
.sidebar .widget .widget-body h5,
.sidebar .widget .widget-body h6 {
  color: #fff;
}
.sidebar .widget .widget-body label {
  color: #fff;
}
.sidebar .widget .widget-body #currentbalance,
.sidebar .widget .widget-body #salesvolume {
  margin-top: 25px;
}
.sidebar .widget .widget-block {
  color: #e0e0e0;
  border-bottom: 1px solid #2e2e2e;
  padding: 24px;
}
.sidebar .widget .widget-block h5 {
  font-weight: 400;
  color: #e0e0e0;
  margin: 0 0 2px 0;
}
.sidebar .widget .widget-block .big {
  font-size: 20px;
}
.sidebar .widget .widget-block .big .badge {
  position: relative;
  top: -3px;
  left: 3px;
}
.sidebar .widget .widget-block:last-child {
  border-bottom: none;
}
.sidebar .welcome-box {
  padding: 24px;
  margin: 0 !important;
}
.sidebar .welcome-box .welcome-avatar {
  width: 56px;
}
.sidebar .welcome-box .welcome-avatar img,
.sidebar .welcome-box .welcome-avatar a {
  display: block;
}
.sidebar .welcome-box .welcome-options {
  margin-left: 48px;
}
.sidebar .welcome-box .welcome-options .name,
.sidebar .welcome-box .welcome-options .welcome-text {
  display: block;
}
.sidebar .welcome-box .welcome-options .name:hover,
.sidebar .welcome-box .welcome-options .welcome-text:hover {
  text-decoration: none;
}
.sidebar .welcome-box .welcome-options .name {
  font-weight: 400;
  font-size: 18px;
}
.sidebar .welcome-box .welcome-options .welcome-text {
  font-size: 11px;
}
.sidebar .welcome-box .welcome-edit {
  width: 20px;
  text-align: right;
  vertical-align: top !important;
}
.sidebar .welcome-box .welcome-edit .btn-link {
  padding: 0;
  border: none;
  vertical-align: top;
  min-width: 0;
  color: rgba(255, 255, 255, 0.3) !important;
}
.sidebar .welcome-box .welcome-edit .btn-link:hover {
  color: #fff !important;
  text-decoration: none;
}
@media (min-width: 768px) {
  body.sidebar-collapsed .sidebar .welcome-box {
    padding: 24px 4px;
  }
  body.sidebar-collapsed .sidebar .welcome-box .tabular-cell:not(.welcome-avatar) {
    display: none;
  }
}
.search-toggler {
  position: absolute;
  padding: 14px 16px;
  z-index: 1;
  display: none;
}
.sidebar-collapsed .search-toggler {
  display: block;
  z-index: 3;
}
#sidebar-search {
  background: transparent !important;
}
#sidebar-search form {
  position: relative;
}
#sidebar-search form input[type='text'] {
  color: #fff;
  padding: 0 8px 0 48px;
  border-radius: 0px;
  min-height: 48px;
  line-height: 20px;
  width: 100%;
  border: none;
}
#sidebar-search form input[type='text']::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
#sidebar-search form input[type='text']:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
#sidebar-search form input[type='text']::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.sidebar-collapsed #sidebar-search form input[type='text'] {
  visibility: hidden;
  padding: 0 8px 0 48px;
  width: 248px;
}
#sidebar-search form button[type='submit'] {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  background: none;
  padding: 14px 16px;
  margin: 0;
  visibility: visible;
}
.sidebar-collapsed #sidebar-search form button[type='submit'] {
  visibility: hidden;
}
.sidebar-collapsed #sidebar-search.open {
  position: relative;
  z-index: 2;
  width: 248px;
}
.sidebar-collapsed #sidebar-search.open form input[type='text'] {
  visibility: visible;
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(0, 0, 0, 0.05), 0px 2px 0px 0px rgba(0, 0, 0, 0.05);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
.sidebar-collapsed .sidebar-collapsed #sidebar-search.open form input[type='text'] {
  padding: 0 48px 0 48px;
}
.sidebar-collapsed #sidebar-search.open form button[type='submit'] {
  right: 0;
  left: inherit;
  visibility: visible;
}



.table a{color:#0279C5!important;text-decoration:none;}


.dropdown-menu.entities{left:auto;right:0;padding:0px;width:auto;}

#main a p{padding:8px 0px 20px;color:#000;}
  #main  h5{font-weight:700;color:#a0a0a0;padding-left:10px}
  #main .title{background-color:#efefef;margin-bottom:5%;padding:1px 10px}
  #main .border{border:1px solid #efefef;border-radius:5px}
@media(min-width:767px){#main{min-width:400px}}
#main a{text-decoration:none;}
#main img{width:50%;}